:root {
  --INTModCustomStatusColors: "    \2022  custom status colors ~ rai (Misc \2192  customStatusColors.m.css)\A"!important;
  /* stylelint-disable */
  /* Has been done since multiline variables are not according to spec but R E A D A B I L I T Y */
  --INTVarCustomStatusColors: "\A\A custom status colors - Module"
    "\A \2022  --ColServerStatus \2192  Allowed Values: Color"
    "\A \2022  --ColClientStatus \2192  Allowed Values: Color"!important;
  /* stylelint-enable */
  --ColServerStatus: #f04747;
  --ColClientStatus: #2482db;
}

/* client status */
[aria-label="Muted"] > .icon-3BcwQu, [aria-label="Deafened"] > .icon-3BcwQu {
  color: var(--ColClientStatus);
}

/* server status */
[aria-label="Server Muted"] > .icon-3BcwQu, [aria-label="Server Deafened"] > .icon-3BcwQu {
  color: var(--ColServerStatus);
}
