:root{
    --INTModCustomStatusColors: '    \2022  custom status colors ~ rai (Misc \2192  customStatusColors.m.css)\A'!important;
    --INTVarCustomStatusColors: '\A\A custom status colors - Module\A \2022  --ColServerStatus \2192  Allowed Values: Color\A \2022  --ColClientStatus \2192  Allowed Values: Color'!important;
    --ColServerStatus: #F04747;
    --ColClientStatus: #2482DB;
}

/* client status */

[aria-label="Muted"] > .icon-3BcwQu, [aria-label="Deafened"] > .icon-3BcwQu {
	color: var(--ColClientStatus);
}

/* server status */

[aria-label="Server Muted"] > .icon-3BcwQu, [aria-label="Server Deafened"] > .icon-3BcwQu {
	color: var(--ColServerStatus);
}
