:root {
  --INTModCustomSettingsModal: "    \2022  Custom Settings Modal ~ Customa Devs (Misc \2192  customSettingsModal.m.css)\A"!important;
  /* stylelint-disable declaration-colon-newline-after */
  /* Has been done since multiline variables are not according to spec but R E A D A B I L I T Y */
  --INTVarCustomSettingsModal: "\A\A Custom Settings Modal - Module"
    "\A \2022  --DisplayNoDoubleBorderRadius \2192  Allowed Values: None/Block"
    "\A \2022  --WidthSettingsSidebarMin \2192  Allowed Values: XYpx (pref. 44px)"
    "\A \2022  --WidthSettingsSidebarMax \2192  Allowed Values: XYpx (pref. 218px)"!important;
  /* stylelint-enable */
  --DisplayNoDoubleBorderRadius: none;
  --WidthSettingsSidebarMin: 44px;
  --WidthSettingsSidebarMax: 218px;
}

.layers-3iHuyZ > .layer-3QrUeG.animating-rRxada {
  background-color: transparent;
}

.layer-3QrUeG .standardSidebarView-3F1I7i {
  animation: closeSettings 400ms cubic-bezier(.68, -.55, .27, 1.55);
  height: 80%;
  margin: auto;
  opacity: 0;
  max-width: 1200px!important;
  z-index: 10!important;
  background-color: var(--ColBackground1)!important;
}

.layer-3QrUeG.stop-animations + .layer-3QrUeG .standardSidebarView-3F1I7i {
  animation: openSettings 400ms cubic-bezier(.68, -.55, .27, 1.55);
  opacity: 1;
}

.layer-3QrUeG {
  background: transparent;
  opacity: 1!important;
  transform: scale(1)!important;
  animation: closeBackdraw 400ms;
}

.layer-3QrUeG.stop-animations + .layer-3QrUeG {
  background: rgba(0, 0, 0, .85)!important;
  animation: openBackdraw 400ms;
}

.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .header-2RyJ0Y, .ui-tab-bar-header /* Remove Headers */, .info-1VyQPT /* Version Info */ {
  display: none;
}

.sidebar-CFHs9e {
  padding: 15px 6px 15px 4px;
  position: absolute;
  left: 0;
}

.sidebarRegion-VFTUkN {
  z-index: -1;
}

.sidebarRegion-VFTUkN, .contentTransitionWrap-3hqOEW {
  padding-bottom: 0!important;
}

.sidebarRegion-VFTUkN .side-8zPYf6 .item-PXvHYJ::before {
  content: "\e91b";
  font-size: 24px;
  font-family: Customa-Misc, sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  padding: 6px;
  border-radius: 3px;
  color: currentColor;
  text-align: center;
  width: 24px;
}

.powercord-documentation .sidebarRegion-VFTUkN .side-8zPYf6 .item-PXvHYJ::before {
  content: "\e92f";
}

.side-8zPYf6 .selected-3s45Ha.item-PXvHYJ::before {
  background-color: var(--ColAccent);
}

.sidebar-CFHs9e .side-8zPYf6 .selected-3s45Ha.item-PXvHYJ {
  background-color: transparent!important;
}

.sidebar-CFHs9e .item-PXvHYJ {
  padding-left: 42px;
  overflow: visible;
}

.contentRegion-3nDuYy {
  width: calc(100% - var(--WidthSettingsSidebarMin));
  position: absolute;
  transform: translateX(var(--WidthSettingsSidebarMin));
  height: 100%;
  transition: transform 200ms;
}

.sidebarRegion-VFTUkN:hover + .contentRegion-3nDuYy {
  transform: translateX(var(--WidthSettingsSidebarMax));
}

.sidebarRegion-VFTUkN:hover .sidebar-CFHs9e .side-8zPYf6 .selected-3s45Ha.item-PXvHYJ {
  background-color: var(--ColAccent)!important;
}

.contentColumn-2hrIYH, .sidebarScrollable-1qPI87 + .content-1rPSz4, .customScroller-26gWhv > div {
  max-width: calc(100% - 40px);
}

.noticeRegion-1YviSH {
  min-width: calc(100%);
}

/* Border Radius Fixes */
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN, .standardSidebarView-3F1I7i, .standardSidebarView-3F1I7i .contentRegion-3nDuYy {
  border-radius: 15px!important;
  padding-bottom: 0!important;
}

/* Hide the double border Radius */
.standardSidebarView-3F1I7i .contentRegion-3nDuYy::before, .standardSidebarView-3F1I7i .contentRegion-3nDuYy::after {
  content: "";
  color: transparent;
  display: var(--DisplayNoDoubleBorderRadius)!important;
  width: 15px!important;
  height: 15px;
  background-color: var(--ColBackground2);
  left: 0;
  position: absolute;
}

.toolsContainer-1edPuj {
  position: absolute;
  right: -20px;
  margin-right: 0;
  padding-top: 0;
  top: 30px;
}

.contentRegion-3nDuYy > .toolsContainer-1edPuj {
  right: 13px;
}

.customHeader-f9DEJ_, .contentColumnDefault-1VQkGM {
  padding-top: 40px;
}

.socialLinks-3jqNFy {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  position: relative;
}

.link-1IoFq- {
  margin-top: 8px;
  display: flex;
}

.link-1IoFq-::after {
  font-size: 16px;
  margin-left: 14px;
}

.powercord-pc-icon::before {
  position: static;
  width: 20px;
  display: block;
  height: 16px;
  margin-left: 2px;
  margin-bottom: 16px;
}

.powercord-pc-icon svg {
  display: none;
}

.link-1IoFq-[href*="twitter"]::after {
  content: "Twitter";
  margin-left: 10px;
}

.link-1IoFq-[href*="facebook"]::after {
  content: "Facebook";
}

.link-1IoFq-[href*="instagram"]::after {
  content: "Instagram";
}

.link-1IoFq-[href*="powercord"]::after {
  content: "Powercord";
  margin-left: 8px;
}

.socialLinks-3jqNFy::after {
  content: "Customa - running on";
  color: #adadad;
  font-size: 16px;
  position: absolute;
  top: 8px;
  left: 40px;
}

.hero-EvfTTA, .banner-3Kac2g, .dropdown-2fxkrS, .contentWidth-xLB44s {
  max-width: unset;
}

.video-2aTfcg {
  width: 100%;
}

@keyframes openSettings {
  0% {
    transform: scale(.6);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes closeSettings {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(.6);
    opacity: 0;
  }
}
@keyframes openBackdraw {
  0% {
    background: transparent;
  }

  100% {
    background: rgba(0, 0, 0, .85);
  }
}
@keyframes closeBackdraw {
  0% {
    background: rgba(0, 0, 0, .85);
  }

  100% {
    background: transparent;
  }
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="MyAccount"]::before {
  content: "\e90d";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="PrivacynSafety"]::before {
  content: "\e912";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="AuthorizedApps"]::before {
  content: "\e913";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="Connections"]::before {
  content: "\e914";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="Billing"]::before {
  content: "\e915";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="DiscordNitro"]::before {
  content: "\e916";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="LibraryInventory"]::before {
  content: "\e917";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="NitroServerBoost"]::before {
  content: "\e918";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="HypesquadOnline"]::before {
  content: "\e919";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="VoicenVideo"]::before {
  content: "\e903";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="Notifications"]::before {
  content: "\e905";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="Keybinds"]::before {
  content: "\e906";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="GameActivity"]::before {
  content: "\e907";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="TextnImages"]::before {
  content: "\e908";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="Appearance"]::before {
  content: "\e909";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="StreamerMode"]::before {
  content: "\e90a";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="Language"]::before {
  content: "\e90b";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="Linux"]::before {
  content: "\e932";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="Windows"]::before {
  content: "\e939";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="pc-general"]::before {
  content: "\e91c";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="pc-moduleManager-plugins"]::before {
  content: "\e91b";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="pc-moduleManager-themes"]::before {
  content: "\e91e";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="pc-updater"]::before {
  content: "\e920";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="devInjector"]::before {
  content: "\e91a";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="changelog"]::before {
  content: "\e90e";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="pc-spotify"]::before {
  content: "\e91d";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="pc-documentation"]::before {
  content: "\e92f";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="pc-labs"]::before {
  content: "\e90f";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="Experiments"]::before {
  content: "\e90f";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="DeveloperOptions"]::before {
  content: "\e910";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="logout"]::before {
  content: "\e911";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="OVERVIEW"]::before {
  content: "\e93a";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="ROLES"]::before {
  content: "\e938";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="EMOJI"]::before {
  content: "\e937";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="MODERATION"]::before {
  content: "\e93c";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="AUDIT_LOG"]::before {
  content: "\e936";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="INTEGRATIONS"]::before {
  content: "\e914";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="WEBHOOKS"]::before {
  content: "\e940";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="EMBED"]::before {
  content: "\e93b";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="GUILD_TEMPLATES"]::before {
  content: "\e93f";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="GUILD_PREMIUM"]::before {
  content: "\e935";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="MEMBERS"]::before {
  content: "\e934";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="INSTANT_INVITES"]::before {
  content: "\e93d";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="BANS"]::before {
  content: "\e93e";
}

.side-8zPYf6 .item-PXvHYJ[data-item-id="DELETE"]::before {
  content: "\e933";
}
