/* Current Font Config as of 14th of April 2018 */

:root{
    --ColTextSelection: rgba(255,255,255,0.2) /* Color, should be rgba */;    
    --INTModFont: '\A \2022  Fonts (Emma Config) ~ Customa Devs (Misc \2192  font_emma.m.css)';
    --INTVarFont: '\A\A Font: \A \2022  --Color__TextSelection \2192  Allowed Values: Color (pref. rgba(x,x,x,0.3)) \A \2022  --Font__FontFamily \2192  Allowed Values: Installed Fonts/Webfonts\A (pref. Sans-Serif)\A \2022  --Font__Monospace__FontFamily \2192  Allowed Values: \A Installed Fonts/Webfonts (pref. Monospace)';
    --FontFamily: 'Comma', 'Noto Bug Fix', 'Noto Blobs', 'Raleway', sans-serif /* Normal Font */;
    --FontMonoFamily: 'Noto Bug Fix Monospace', 'Noto Blobs', 'Fira Code', 'Fira Mono', monospace /* Monospace Font */;
}

/* Set all Fonts to the defined one */
*{
    font-family: var(--FontFamily)!important;
    font-variant: normal!important;
    -webkit-font-smoothing: antialiased;
}

.fileNameLink-9GuxCo /* File name for File Uploads */{
    font-size: 15px!important;
}

code /* All Code Blocks */,code * /* All Elements in a Code Block */,code li * /* All List Elements in a Code Block */, code.inline /* Inline Code Block */, .ace_editor * /* Settings Code Editor */, .message-1PNnaP textarea.textAreaEdit-bNLDk3 /* Edit Text Area */{
    font-family: var(--FontMonoFamily)!important;
}

*::selection{
    background: var(--ColTextSelection)!important;
}

@font-face{
    font-family: 'Comma';
    src: local('Open Sans'), url('https://fonts.googleapis.com/css?family=Open+Sans');
    unicode-range: U+2A, U+2C, U+2E, U+3A, U+3B, U+5F, U+60, U+B0, U+B4;
    font-weight: 100;
}

@font-face{
    font-family: 'Noto Blobs';
    src: local('Noto Color Emoji');
    unicode-range: U+A9-1F9E6;
}

@font-face{
    font-family: 'Noto Bug Fix';
    src: local('Raleway');
    unicode-range: U+30-39, U+A9, U+AE, U+2122;
}

@font-face{
    font-family: 'Noto Bug Fix Monospace';
    src: local('Fira Code');
    unicode-range: U+30-39, U+A9, U+AE, U+2122;
}