/* Current Font Config as of 30th of August 2018 */

:root{
    --ColTextSelection: rgba(255,255,255,0.2) /* Color, should be rgba */;    
    --INTModFont: '\2022  Fonts (Emma Config) ~ Customa Devs (Misc \2192  font_emma.m.css)\A'!important;
    --INTVarFont: '\A\A Font - Module\A \2022  --ColTextSelection \2192  Allowed Values: Color (pref. rgba(x,x,x,0.3)) \A \2022  --FontFamily \2192  Allowed Values: Installed Fonts/Webfonts\A (pref. Sans-Serif)\A \2022  --FontMonoFamily \2192  Allowed Values: \A Installed Fonts/Webfonts (pref. Monospace)'!important;
    --FontFamily: 'Noto Bug Fix', 'Noto Blobs', 'Google Sans', sans-serif /* Normal Font */;
    --FontMonoFamily: 'Noto Bug Fix Monospace', 'Noto Blobs', 'Fira Code', 'Fira Mono', monospace /* Monospace Font */;
}

/* Set all Fonts to the defined one */
*{
    font-family: var(--FontFamily)!important;
    font-variant: normal!important;
    -webkit-font-smoothing: antialiased;
}

.fileNameLink-9GuxCo /* File name for File Uploads */{
    font-size: 15px!important;
}

code /* All Code Blocks */,code * /* All Elements in a Code Block */,code li * /* All List Elements in a Code Block */, code.inline /* Inline Code Block */, .ace_editor * /* Settings Code Editor */, .message-1PNnaP textarea.textAreaEdit-bNLDk3 /* Edit Text Area */{
    font-family: var(--FontMonoFamily)!important;
}

*::selection{
    background: var(--ColTextSelection)!important;
}

@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500,700,400i,500i,700i');

@font-face{
    font-family: 'Noto Blobs';
    src: url('https://raw.githack.com/Customa/Customa/master/Misc/Noto%20Color%20Emoji.ttf') format('ttf');
    unicode-range: U+A9-1F9E6;
}

@font-face{
    font-family: 'Noto Bug Fix';
    src: url('https://fonts.gstatic.com/s/googlesans/v6/4UaErENHsxJlGDuGo1OIlL3L8phULjtH.woff2') format('woff2');
    unicode-range: U+30-39, U+A9, U+AE, U+2122;
}

@font-face{
    font-family: 'Noto Bug Fix Monospace';
    src: local('Fira Code');
    unicode-range: U+30-39, U+A9, U+AE, U+2122;
}