/* Current Font Config as of 14th of April 2018 */

:root{
    --Color__TextSelectionColor: rgba(255,255,255,0.2);    
    --Content__Module__Font: '\A \2022  Fonts (Emma Config) ~ Customa Devs (Misc \2192  font_emma.m.css)';
    --Content__Variables__Font: '\A\A Font: \A \2022  --Color__TextSelection \2192  Allowed Values: Color (pref. rgba(x,x,x,0.3)) \A \2022  --Font__FontFamily \2192  Allowed Values: Installed Fonts/Webfonts\A (pref. Sans-Serif)\A \2022  --Font__Monospace__FontFamily \2192  Allowed Values: \A Installed Fonts/Webfonts (pref. Monospace)';
    --Font__FontFamily: 'Comma', 'Noto Bug Fix', 'Noto Blobs', 'Raleway', sans-serif;
    --Font__Monospace__FontFamily: 'Fira Code', 'Fira Mono', monospace;
}

*{
    font-family: var(--Font__FontFamily)!important;
    font-variant: normal!important;
    -webkit-font-smoothing: antialiased;
}

.filename{
    font-size: 15px!important;
}

.CodeMirror-code *,code,code *,code li *, code.inline, .ace_editor *, .message-group textarea[class*='textAreaEnabled']{
    font-family: var(--Font__Monospace__FontFamily)!important;
}

.CodeMirror-code span{
    font-size: 13px!important;
}

.chat form .typing strong{
    font-weight:400;
}

::selection{
    background: var(--Color__TextSelectionColor);
}

@font-face{
    font-family: 'Comma';
    src: local('Open Sans'), url('https://fonts.googleapis.com/css?family=Open+Sans');
    unicode-range: U+2A, U+2C, U+2E, U+3A, U+3B, U+5F, U+60, U+B0, U+B4;
    font-weight: 100;
}

@font-face{
    font-family: 'Noto Blobs';
    src: local('Noto Color Emoji');
    unicode-range: U+A9-1F9E6;
}

@font-face{
    font-family: 'Noto Bug Fix';
    src: local('Raleway');
    unicode-range: U+30-39, U+A9, U+AE, U+2122;
}