:root{
    --INTModiOSToggles: '\2022  iOS Toggles ~ Customa Devs (Misc \2192  iOSToggles.m.css)\A'!important;
}

.switch-3wwwcV, .ui-switch /* Switch Unticked */{
    background-color: var(--ColFalse)!important;
}

.switch-3wwwcV.valueChecked-m-4IJZ, .ui-switch.checked /* Switch Ticked */{
    background-color: var(--ColTrue)!important;
}