/* .edited{
    visibility: hidden;
    margin-left: -30px!important;
}

.edited::after{
    content: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/edit_white.svg')!important;
    visibility: visible;
} */

:root{
    --Content__Module__NewEditIcon: '';
    --Content__EditIcon: url('http://aperiodic.net/phil/tmp/place-mode3.png');
}

/* User Container Channel Bar */
/* .container-2Thooq .accountDetails-3k9g4n, .container-2Thooq .flex-1xMQg5 {
    margin-top: 20px;
} */

/* .accountDetails-3k9g4n .username, .accountDetails-3k9g4n .discriminator{
    display: inline;
}

.container-2Thooq .wrapper-2F3Zv8, .container-2Thooq .wrapper-2F3Zv8 .avatar-3JE4B3{
    width: 20px;
    height: 20px;
}

.container-2Thooq .wrapper-2F3Zv8 .status-oxiHuE{
    width: 8px!important;
    height: 8px!important;
}

.container-2Thooq .wrapper-2F3Zv8{
    margin-top: 28px;
    margin-bottom: 8px;
}

.container-2Thooq .flex-1xMQg5{
    opacity: 0;
    width: 210px;
    left: 110px;
    height: 51px;
    position: absolute;
    bottom: 0;
    margin-top: 0;
    background-color: var(--ColBackground1)!important;
    z-index: 120;
    transition: opacity 200ms;
}

.container-2Thooq .flex-1xMQg5 div button, .container-2Thooq .flex-1xMQg5 button{
    margin-top: 5px;
    width: 60px;
    height: 40px;
    background-size: 25px 25px!important;
}

.container-2Thooq .flex-1xMQg5 button div svg{
    width: 25px!important;
    height: 25px!important;
    margin: 6.5px 0 15px 0;
}

.container-2Thooq:hover .flex-1xMQg5{
    opacity: 1;
} */

/* Channels scroller container for both DMs and Servers */
/* .channels-Ie2l6A .container-PNkimc, .private-channels {
    margin-bottom: 26px;
} */
