/* .edited{
    visibility: hidden;
    margin-left: -30px!important;
}

.edited::after{
    content: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/edit_white.svg')!important;
    visibility: visible;
} */

:root{
    --Content__Module__NewEditIcon: '';
    --Content__EditIcon: url('http://aperiodic.net/phil/tmp/place-mode3.png');
}

/* WHITE THEME SUPPORT */

:root{
    --Color__FontColorDarker: #212121;
    --Color__FontColorDark: #424242;
    --Color__FontColorBright: #616161;
}

.esc-text, h2{
    color: var(--Color__FontColorDarker)!important;
}

h5{
    color: var(--Color__FontColorDark)!important;
}

[class*='desc']{
    color: var(--Color__FontColorBright)!important;
}

/* TitleWrapper New */

[class*='titleWrapper'] [class*='titleText'] [class*='status']{
    width: 87vw;
    z-index: -1!important;
    position: absolute;
    left: 0;
    top: 0;
    height: 48px;
    border-radius: 0;
    margin-left: 0;
}

[class*='titleWrapper'] [class*='titleText']{
    overflow: visible;
    z-index: 0!important;
}

[class*='titleWrapper'] [class*='titleText']~[class*='directionRow'], [class*='channels-'] [class*='private-channels'] [class*='search-bar-inner'] input, [class*='channels-'][class*='vertical-']{
    z-index: 50!important;
}