:root{
    --INTModBetterFileTypes: '\2022  Better File Types ~ Customa Devs (Chat \2192  betterFileTypes.m.css)\A'!important;
}

/* General */
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr{
    background-size: 90%;
}

/* Video */

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.video-27RLEH{
    background-image: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/video.png');
}

/* PDF */

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.acrobat-3K1PC6{
    background-image: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/pdf.png');
}

[src='/assets/f167b4196f02faf2dc2e7eb266a24275.svg']{
    content: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/pdf.png');
}

/* After Effects */

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.ae-1Y5Jq3{
    background-image: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/ae.png');
}

[src='/assets/982bd8aedd89b0607f492d1175b3b3a5.svg']{
    content: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/ae.png');
}

/* Sketch */

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.sketch-ZMuo7D{
    background-image: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/sketch.png');
}

[src='/assets/f812168e543235a62b9f6deb2b094948.svg']{
    content: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/sketch.png');
}

/* Illustrator */

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.ai-11KAaB{
    background-image: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/ai.png');
}

[src='/assets/03ad68e1f4d47f2671d629cfeac048ef.svg']{
    content: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/ai.png')
}

/* Archive */

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.archive-2hqXug{
    background-image: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/archive.png');
}

[src='/assets/73d212e3701483c36a4660b28ac15b62.svg']{
    content: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/archive.png');
}

/* Code */

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.code-aoB-kL{
    background-image: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/code.png');
}

[src='/assets/481aa700fab464f2332ca9b5f4eb6ba4.svg']{
    content: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/code.png');
}

/* Document */

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.document-2cvI0u{
    background-image: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/word.png');
}

[src='/assets/9f358f466473586417baee7bacfba5ca.svg']{
    content: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/word.png');
}

/* Spreadsheet */

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.spreadsheet-1QuSej{
    background-image: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/excel.png');
}

[src='/assets/85f7a4063578f6e0e2c73f60bca0fcce.svg']{
    content: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/excel.png');
}

/* Webcode */

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.webcode-22GGLX{
    background-image: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/html.png');
}

[src='/assets/a11e895b46cde503a094dd31641060a6.svg']{
    content: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/html.png');
}

/* Unknown */

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.unknown-3TPTMr{
    background-image: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/unknown.png');
}

[src='/assets/985ea67d2edab4424c62009886f12e44.svg']{
    content: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/unknown.png');
}

.uploadArea-3QgLtW .inner-3nWsbo .icons-1w691d .icon-kyxXVr{
    background-size: 80%!important; 
}

.uploadArea-3QgLtW .inner-3nWsbo .icons-1w691d .wrapOne-14G98n .icon-kyxXVr{
    background: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/Modal/htmlModal.png')!important;
}

.uploadArea-3QgLtW .inner-3nWsbo .icons-1w691d .wrapTwo-mQGI3R .icon-kyxXVr{
    background: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/Modal/codeModal.png')!important;
}

.uploadArea-3QgLtW .inner-3nWsbo .icons-1w691d .wrapThree-1CNQ42 .icon-kyxXVr{
    background: url('https://raw.githack.com/GhostlyDilemma/Customa/master/Misc/Files/Modal/sketchModal.png')!important;
}

.uploadArea-3QgLtW .inner-3nWsbo .icons-1w691d .wrapOne-14G98n .icon-kyxXVr, .uploadArea-3QgLtW .inner-3nWsbo .icons-1w691d .wrapThree-1CNQ42 .icon-kyxXVr, .uploadArea-3QgLtW .inner-3nWsbo .icons-1w691d .wrapTwo-mQGI3R .icon-kyxXVr{
    background-size: 100%!important;
}