:root {
    --INTModCakeosTitlebar: '    \2022  CakeOS Titlebar ~ Customa Devs (Chat \2192  cakeosTitlebar.m.css)\A'!important;
    --ColCakeosClose: #fac0f2;
    --ColCakeosCloseHover: #ff2851;
    --ColCakeosMaximize: #c8ffe0;
    --ColCakeosMaximizeHover: #3ecf8e;
    --ColCakeosMinimize: #fff7d3;
    --ColCakeosMinimizeHover: #f7a623;
}

.header-2o-2hj, .title-3qD0b-, .titleCall-_b9o8P {
    height: 2.2em;
}

.titleBar-AC4pGV {
    padding: 0.5em;
}

.wordmark-2iDDfm {
    top: 7px;
    left: 6px;
}

.wordmark-2iDDfm > svg {
    width: 100%;
    height: 100%;
}

.winButton-iRh8-Z {
    padding: 0 1em;
    background: transparent !important;
    opacity: 1;
}

.winButton-iRh8-Z svg > * {
    display: none;
}

.winButtonClose-1HsbF- svg {
    background: var(--ColCakeosClose) !important;
    border: 1px solid var(--ColCakeosCloseHover);
    border-radius: 50%;
    transition: background 0.2s;
}


.winButtonClose-1HsbF-:hover svg {
    background: var(--ColCakeosCloseHover) !important;
}


.winButtonMinMax-PBQ2gm svg[name*="Maximize"] {
    background: var(--ColCakeosMaximize) !important;
    border: 1px solid var(--ColCakeosMaximizeHover);
    border-radius: 50%;
    transition: background 0.2s;
}


.winButtonMinMax-PBQ2gm:hover svg[name*="Maximize"] {
    background: var(--ColCakeosMaximizeHover) !important;
}


.winButtonMinMax-PBQ2gm svg[name*="Minimize"] {
    background: var(--ColCakeosMinimize) !important;
    border: 1px solid var(--ColCakeosMinimizeHover);
    border-radius: 50%;
    transition: background 0.2s;
}


.winButtonMinMax-PBQ2gm:hover svg[name*="Minimize"] {
    background: var(--ColCakeosMinimizeHover) !important;
}
