:root{
    --INTModChannelDivider: '\2022  Channel Divider ~ Customa Devs (Chat \2192  channelDivider.m.css)\A';
}

.channels-Ie2l6A .scroller-2FKFPG [class*=container] .containerDefault-3GGEv_ .justifyStart-2NDFzi.alignStart-H-X2h-.noWrap-3jynv6 *{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff!important;
  opacity: 0.3;
  transition: .2s opacity ease-in-out!important;
}

.channels-Ie2l6A .scroller-2FKFPG [class*=container] .containerDefault-3GGEv_ .justifyStart-2NDFzi.alignStart-H-X2h-.noWrap-3jynv6:hover *{
  opacity: 0.8;
}

.channels-Ie2l6A .scroller-2FKFPG [class*=container] .containerDefault-3GGEv_ .justifyStart-2NDFzi.alignStart-H-X2h-.noWrap-3jynv6 [class*=name]::before, .channels-Ie2l6A .scroller-2FKFPG [class*=container] .containerDefault-3GGEv_ .justifyStart-2NDFzi.alignStart-H-X2h-.noWrap-3jynv6 [class*=name]::after{
  content: "";
  width: 100%;
  vertical-align: middle;
  height: 1px;
  background: #eee;
  display: inline-block;
  margin: 0 5px;
}

.channels-Ie2l6A .scroller-2FKFPG [class*=container-] .containerDefault-3GGEv_:first-child{
    padding: 2%;
}