:root{
    --INTModChannelsWrapper: '\2022  Channels Wrapper 2.0 ~ Customa Devs (Chat \2192  channelsWrapper.m.css)\A'!important;
}

.channels-Ie2l6A{
    width: 46px;
    transition: 200ms width;
}

.channels-Ie2l6A:hover{
    width: 240px;
}

.channels-Ie2l6A .header-2o-2hj svg{
    width: 0;
}

.channels-Ie2l6A:hover .header-2o-2hj svg{
    width: 18px;
}

.channels-Ie2l6A .content-20Aix8{
    width: 40px!important;
    margin-left: 0;
    padding: 0 12px;
    border-radius: 0;
    transition: all 200ms;
}

.channels-Ie2l6A .channel-2fhmY8 a{
    width: 100px!important;
    margin-left: 0;
    padding: 0 6px;
    border-radius: 0;
    transition: all 200ms;
}

.channels-Ie2l6A:hover .content-20Aix8{
    width: 225px!important;
    margin-left: 8px;
    padding: 0 8px;
    border-radius: 3px;
}

.channels-Ie2l6A:hover .channel-2fhmY8 a{
    width: 225px!important;
    margin-left: 8px;
    padding: 0 8px;
    border-radius: 3px;
}

.channels-Ie2l6A .privateChannels-1nO12o .btn-friends svg{
    margin-right: 11px;
    margin-left: 2px;
}

.channels-Ie2l6A .content-20Aix8.contentSelectedText-3wUhMi, .channels-Ie2l6A .private-channels .channel-2fhmY8.private.selected a{
    background-color: #D81B60!important;
}

.channels-Ie2l6A:hover .content-20Aix8.contentSelectedText-3wUhMi, .channels-Ie2l6A:hover .private-channels .channel-2fhmY8.private.selected a{
    background-color: rgba(0,0,0,0.2)!important;
}

.channels-Ie2l6A .content-20Aix8 .name-3M0b8v, .channels-Ie2l6A .content-20Aix8 .flex-1xMQg5, .channels-Ie2l6A .containerDefault-3GGEv_, .channels-Ie2l6A .header-2o-2hj .name-3YKhmS, .channels-Ie2l6A .privateChannels-1nO12o .search-bar-inner, .channels-Ie2l6A .private-channels header, .unread-1s3J68{
    opacity: 0;
    transition: opacity 200ms;
}

.channels-Ie2l6A:hover .content-20Aix8 .name-3M0b8v, .channels-Ie2l6A:hover .content-20Aix8 .flex-1xMQg5, .channels-Ie2l6A:hover .containerDefault-3GGEv_, .channels-Ie2l6A:hover .header-2o-2hj .name-3YKhmS, .channels-Ie2l6A:hover .privateChannels-1nO12o .search-bar-inner, .channels-Ie2l6A:hover .private-channels header, .channels-Ie2l6A:hover .unread-1s3J68{
    opacity: 1;
}

.channels-Ie2l6A .container-2Thooq{
    padding-left: 6px;
}

#friends, .activityFeed-28jde9, .gameLibrary-TTDw4Y{
    z-index: 10;
}

.privateChannels-1nO12o .status-oxiHuE.typing-1KJk_j{
    left: 0;
}