:root {
    --Content__Module__CodeBlockLanguages: '\A \2022  Code Block Languages ~ spthiel / Customa Devs (Chat \2192  variables.m.css)';

    --Content__ProgLang--1c:              "1c";

    --Content__ProgLang--abnf:            "ABNF";
    --Content__ProgLang--accesslog:       "Access Log";
    --Content__ProgLang--actionscript:    "ActionScript";
    --Content__ProgLang--ada:             "Ada";
    --Content__ProgLang--apache:          "Apache";
    --Content__ProgLang--applescript:     "Applescript";
    --Content__ProgLang--arduino:         "Arduino";
    --Content__ProgLang--armasm:          "ARM Assembly";
    --Content__ProgLang--asciidoc:        "AsciiDoc";
    --Content__ProgLang--aspectj:         "AspectJ";
    --Content__ProgLang--atom:            "Atom Feed (XML)";
    --Content__ProgLang--autohotkey:      "AutoHotkey";
    --Content__ProgLang--autoit:          "AutoIt";
    --Content__ProgLang--avrasm:          "AVR Assembler";
    --Content__ProgLang--awk:             "Awk";
    --Content__ProgLang--axapta:          "Axapta";

    --Content__ProgLang--bash:            "Bash";
    --Content__ProgLang--basic:           "Basic";
    --Content__ProgLang--dos:             "Batch";
    --Content__ProgLang--bnf:             "BNF";
    --Content__ProgLang--brainfuck:       "Brainfuck";

    --Content__ProgLang--c:               "C/C++";
    --Content__ProgLang--cs:              "C#";
    --Content__ProgLang--cal:             "CAL";
    --Content__ProgLang--capnproto:       "Cap'n Proto";
    --Content__ProgLang--ceylon:          "Ceylon";
    --Content__ProgLang--clean:           "Clean";
    --Content__ProgLang--clojure:         "Clojure";
    --Content__ProgLang--clojure-repl:    "Clojure REPL";
    --Content__ProgLang--cmake:           "CMake";
    --Content__ProgLang--coffeescript:    "CoffeeScript";
    --Content__ProgLang--coq:             "Coq";
    --Content__ProgLang--cos:             "CachÃ© Object Script";
    --Content__ProgLang--podspec:         "CocoaPod";
    --Content__ProgLang--crmsh:           "crmsh";
    --Content__ProgLang--crystal:         "Crystal";
    --Content__ProgLang--csp:             "CSP";
    --Content__ProgLang--css:             "CSS";

    --Content__ProgLang--d:               "D";
    --Content__ProgLang--dart:            "Dart";
    --Content__ProgLang--delphi:          "Delphi (Object Pascal)";
    --Content__ProgLang--diff:            "Diff";
    --Content__ProgLang--django:          "Django";
    --Content__ProgLang--dns:             "DNS Zone File";
    --Content__ProgLang--dockerfile:      "Dockerfile";
    --Content__ProgLang--dsconfig:        "dsconfig";
    --Content__ProgLang--dts:             "Device Tree";
    --Content__ProgLang--dust:            "Dust";

    --Content__ProgLang--ebnf:            "EBNF";
    --Content__ProgLang--elixir:          "Elixir";
    --Content__ProgLang--elm:             "Elm";
    --Content__ProgLang--erb:             "ERB";
    --Content__ProgLang--erlang:          "Erlang";
    --Content__ProgLang--erlang-repl:     "Erlang REPL";
    --Content__ProgLang--excel:           "Excel";

    --Content__ProgLang--fs:              "F#";
    --Content__ProgLang--fix:             "Fix";
    --Content__ProgLang--flix:            "Flix";
    --Content__ProgLang--fortran:         "Fortran";

    --Content__ProgLang--gams:            "GAMS";
    --Content__ProgLang--gauss:           "Gauss";
    --Content__ProgLang--gcode:           "G-code";
    --Content__ProgLang--gherkin:         "Gherkin";
    --Content__ProgLang--glsl:            "GLSL";
    --Content__ProgLang--go:              "Go";
    --Content__ProgLang--golo:            "Golo";
    --Content__ProgLang--gradle:          "Gradle";
    --Content__ProgLang--groovy:          "Groovy";

    --Content__ProgLang--haml:            "Haml";
    --Content__ProgLang--handlebars:      "Handlebars";
    --Content__ProgLang--haskell:         "Haskell";
    --Content__ProgLang--haxe:            "Haxe";
    --Content__ProgLang--hsp:             "HSP";
    --Content__ProgLang--html:            "HTML";
    --Content__ProgLang--htmlbars:        "HTMLBars";
    --Content__ProgLang--http:            "HTTP";
    --Content__ProgLang--https:           "HTTPS";
    --Content__ProgLang--hy:              "Hy";

    --Content__ProgLang--inform7:         "Inform7";
    --Content__ProgLang--ini:             "Ini";
    --Content__ProgLang--irpf90:          "IRPF90";
    --Content__ProgLang--irb:             "IRB";

    --Content__ProgLang--java:            "Java";
    --Content__ProgLang--javascript:      "JavaScript (Babel)";
    --Content__ProgLang--xjb:             "JAXB (XML)";
    --Content__ProgLang--jboss-cli:       "JBoss CLI";
    --Content__ProgLang--json:            "JSON";
    --Content__ProgLang--julia:           "Julia";
    --Content__ProgLang--julia-repl:      "Julia REPL";

    --Content__ProgLang--kotlin:          "Kotlin";

    --Content__ProgLang--lasso:           "Lasso";
    --Content__ProgLang--ldif:            "LDIF";
    --Content__ProgLang--leaf:            "Leaf";
    --Content__ProgLang--less:            "Less";
    --Content__ProgLang--lisp:            "Lisp";
    --Content__ProgLang--livecodeserver:  "LiveCode Server";
    --Content__ProgLang--livescript:      "LiveScript";
    --Content__ProgLang--llvm:            "LLVM IR";
    --Content__ProgLang--lsl:             "LSL";
    --Content__ProgLang--lua:             "Lua";

    --Content__ProgLang--makefile:        "Makefile";
    --Content__ProgLang--markdown:        "Markdown";
    --Content__ProgLang--mathematica:     "Mathematica";
    --Content__ProgLang--matlab:          "MatLab";
    --Content__ProgLang--maxima:          "Maxima";
    --Content__ProgLang--mel:             "MEL";
    --Content__ProgLang--mercury:         "Mercury";
    --Content__ProgLang--mipsasm:         "MISP Assembly";
    --Content__ProgLang--routeros:        "Mikrotik RouterOS";
    --Content__ProgLang--mizar:           "Mizar";
    --Content__ProgLang--mojolicious:     "Mojolicious";
    --Content__ProgLang--monkey:          "Monkey";
    --Content__ProgLang--moonscript:      "MoonScript";

    --Content__ProgLang--n1ql:            "N1QL";
    --Content__ProgLang--nginx:           "Nginx";
    --Content__ProgLang--nimrod:          "Nimrod";
    --Content__ProgLang--nix:             "Nix";
    --Content__ProgLang--nsis:            "NSIS";

    --Content__ProgLang--objectivec:      "Objective-C";
    --Content__ProgLang--ocaml:           "OCaml";
    --Content__ProgLang--openscad:        "OpenSCAD";
    --Content__ProgLang--ruleslanguage:   "Oracle Rules Language";
    --Content__ProgLang--oxygene:         "Oxygene";

    --Content__ProgLang--parser3:         "Parser3";
    --Content__ProgLang--pascal:          "Pascal/Object Pascal";
    --Content__ProgLang--perl:            "Perl";
    --Content__ProgLang--pf:              "PF";
    --Content__ProgLang--php:             "PHP";
    --Content__ProgLang--pony:            "Pony";
    --Content__ProgLang--powershell:      "PowerShell";
    --Content__ProgLang--processing:      "Processing";
    --Content__ProgLang--prolog:          "Prolog";
    --Content__ProgLang--plist:           "Property List";
    --Content__ProgLang--protobuf:        "Protocol Buffers";
    --Content__ProgLang--puppet:          "Puppet";
    --Content__ProgLang--purebasic:       "PureBASIC";
    --Content__ProgLang--python:          "Python";
    --Content__ProgLang--profile:         "Python profile";

    --Content__ProgLang--q:               "Q";
    --Content__ProgLang--qml:             "QML";

    --Content__ProgLang--r:               "R";
    --Content__ProgLang--rib:             "RenderMan RIB";
    --Content__ProgLang--rsl:             "RenderMan RSL";
    --Content__ProgLang--roboconf:        "Roboconf";
    --Content__ProgLang--rss:             "RSS Feed (XML)";
    --Content__ProgLang--ruby:            "Ruby";
    --Content__ProgLang--gemspec:         "Ruby Gem";
    --Content__ProgLang--rust:            "Rust";

    --Content__ProgLang--scala:           "Scala";
    --Content__ProgLang--scheme:          "Scheme";
    --Content__ProgLang--scilab:          "Scilab";
    --Content__ProgLang--scss:            "SCSS";
    --Content__ProgLang--shell:           "Shell";
    --Content__ProgLang--smali:           "Smali";
    --Content__ProgLang--smalltalk:       "Smalltalk";
    --Content__ProgLang--sml:             "SML";
    --Content__ProgLang--sqf:             "SQF";
    --Content__ProgLang--sql:             "SQL";
    --Content__ProgLang--stan:            "Stan";
    --Content__ProgLang--stata:           "Stata";
    --Content__ProgLang--step21:          "STEP Part 21";
    --Content__ProgLang--stylus:          "Stylus";
    --Content__ProgLang--subunit:         "SubUnit";
    --Content__ProgLang--swift:           "Swift";

    --Content__ProgLang--taggerscript:    "Tagger Script";
    --Content__ProgLang--tap:             "TAP";
    --Content__ProgLang--thor:            "Thor";
    --Content__ProgLang--tcl:             "Tcl";
    --Content__ProgLang--tex:             "TeX";
    --Content__ProgLang--thrift:          "Thrift";
    --Content__ProgLang--tp:              "TP";
    --Content__ProgLang--twig:            "Twig";
    --Content__ProgLang--typescript:      "TypeScript";
    --Content__ProgLang--vala:            "Vala";
    --Content__ProgLang--vbnet:           "VB.NET";
    --Content__ProgLang--vbscript:        "VBScript";
    --Content__ProgLang--vbscript-html:   "VBScript HTML";
    --Content__ProgLang--verilog:         "Verilog";
    --Content__ProgLang--vhdl:            "VHDL";
    --Content__ProgLang--vim:             "Vim Script";

    --Content__ProgLang--x86asm:          "x86 Assembly";
    --Content__ProgLang--xl:              "XL";
    --Content__ProgLang--xquery:          "XQuery";
    --Content__ProgLang--yaml:            "YAML";
    --Content__ProgLang--xhtml:           "XHTML";
    --Content__ProgLang--xml:             "XML";
    --Content__ProgLang--xsd:             "XML Schema";
    --Content__ProgLang--xsl:             "XSL";

    --Content__ProgLang--zephir:          "Zephir";
    --Content__ProgLang--default:         "Not defined";
}

.markup .hljs::before{
    display:block;
    font-family: var(--Font__FontFamily);
    font-size: 13px;
    margin-bottom:10px;
}

/***
 *       _____                 _           _     
 *      / ____|               | |         | |    
 *     | (___  _   _ _ __ ___ | |__   ___ | |___ 
 *      \___ \| | | | '_ ` _ \| '_ \ / _ \| / __|
 *      ____) | |_| | | | | | | |_) | (_) | \__ \
 *     |_____/ \__, |_| |_| |_|_.__/ \___/|_|___/
 *              __/ |                            
 *             |___/                             
 */
 
.message-group .comment .markup pre code:-webkit-any([class~="1c" i]):before{content:  var(--Content__ProgLang--1c);}

/***
 *               
 *         /\    
 *        /  \   
 *       / /\ \  
 *      / ____ \ 
 *     /_/    \_\
 *               
 *               
 */

.message-group .comment .markup pre code:-webkit-any([class~="abnf" i]):before{content:  var(--Content__ProgLang--abnf);}
.message-group .comment .markup pre code:-webkit-any([class~="accesslog" i]):before{content:  var(--Content__ProgLang--accesslog);}
.message-group .comment .markup pre code:-webkit-any([class~="actionscript" i],[class~="as" i]):before{content:  var(--Content__ProgLang--actionscript);}
.message-group .comment .markup pre code:-webkit-any([class~="ada" i]):before{content:  var(--Content__ProgLang--ada);}
.message-group .comment .markup pre code:-webkit-any([class~="armasm" i],[class~="arm" i]):before{content:  var(--Content__ProgLang--armasm);}
.message-group .comment .markup pre code:-webkit-any([class~="avrasm" i]):before{content:  var(--Content__ProgLang--avrasm);}
.message-group .comment .markup pre code:-webkit-any([class~="apache" i]):before{content:  var(--Content__ProgLang--apache);}
.message-group .comment .markup pre code:-webkit-any([class~="arduino" i]):before{content:  var(--Content__ProgLang--arduino);}
.message-group .comment .markup pre code:-webkit-any([class~="applescript" i],[class~="osascript" i]):before{content:  var(--Content__ProgLang--applescript);}
.message-group .comment .markup pre code:-webkit-any([class~="asciidoc" i],[class~="adoc" i]):before{content:  var(--Content__ProgLang--asciidoc);}
.message-group .comment .markup pre code:-webkit-any([class~="aspectj" i]):before{content:  var(--Content__ProgLang--aspectj);}
.message-group .comment .markup pre code:-webkit-any([class~="autohotkey" i]):before{content:  var(--Content__ProgLang--autohotkey);}
.message-group .comment .markup pre code:-webkit-any([class~="autoit" i]):before{content:  var(--Content__ProgLang--autohotkey);}
.message-group .comment .markup pre code:-webkit-any([class~="awk" i],[class~="mawk" i],[class~="nawk" i],[class~="gawk" i]):before{content:  var(--Content__ProgLang--awk);}
.message-group .comment .markup pre code:-webkit-any([class~="axapta" i]):before{content:  var(--Content__ProgLang--axapta);}

/***
 *      ____  
 *     |  _ \ 
 *     | |_) |
 *     |  _ < 
 *     | |_) |
 *     |____/ 
 *            
 *            
 */

.message-group .comment .markup pre code:-webkit-any([class~="bash" i],[class~="sh" i],[class~="zsh" i]):before{content:  var(--Content__ProgLang--bash);}
.message-group .comment .markup pre code:-webkit-any([class~="basic" i]):before{content:  var(--Content__ProgLang--basic);}
.message-group .comment .markup pre code:-webkit-any([class~="bnf" i]):before{content:  var(--Content__ProgLang--bnf);}
.message-group .comment .markup pre code:-webkit-any([class~="brainfuck" i],[class~="bf" i]):before{content:  var(--Content__ProgLang--brainfuck);}

/***
 *       _____ 
 *      / ____|
 *     | |     
 *     | |     
 *     | |____ 
 *      \_____|
 *             
 *             
 */

.message-group .comment .markup pre code:-webkit-any([class~="cs" i],[class~="csharp" i]):before{content:  var(--Content__ProgLang--cs);}
.message-group .comment .markup pre code:-webkit-any([class~="cpp" i],[class~="c" i],[class~="cc" i],[class~="h" i],[class~="c++" i],[class~="h++" i],[class~="hpp" i]):before{content:  var(--Content__ProgLang--cpp);}
.message-group .comment .markup pre code:-webkit-any([class~="cal" i]):before{content:  var(--Content__ProgLang--cal);}
.message-group .comment .markup pre code:-webkit-any([class~="cos" i],[class~="cls" i]):before{content:  var(--Content__ProgLang--cos);}
.message-group .comment .markup pre code:-webkit-any([class~="cmake" i]):before{content:  var(--Content__ProgLang--cmake);}
.message-group .comment .markup pre code:-webkit-any([class~="coq" i]):before{content:  var(--Content__ProgLang--coq);}
.message-group .comment .markup pre code:-webkit-any([class~="csp" i]):before{content:  var(--Content__ProgLang--csp);}
.message-group .comment .markup pre code:-webkit-any([class~="css" i]):before{content:  var(--Content__ProgLang--css);}
.message-group .comment .markup pre code:-webkit-any([class~="capnproto" i],[class~="capnp" i]):before{content:  var(--Content__ProgLang--capnproto);}
.message-group .comment .markup pre code:-webkit-any([class~="clojure" i],[class~="clj" i]):before{content:  var(--Content__ProgLang--clojure);}
.message-group .comment .markup pre code:-webkit-any([class~="coffee" i],[class~="coffeescript" i],[class~="cson" i],[class~="iced" i]):before{content:  var(--Content__ProgLang--coffee);}
.message-group .comment .markup pre code:-webkit-any([class~="crmsh" i],[class~="crm" i],[class~="pcmk" i]):before{content:  var(--Content__ProgLang--crmsh);}
.message-group .comment .markup pre code:-webkit-any([class~="crystal" i]):before{content:  var(--Content__ProgLang--crystal);}

/***
 *      _____  
 *     |  __ \ 
 *     | |  | |
 *     | |  | |
 *     | |__| |
 *     |_____/ 
 *             
 *             
 */

.message-group .comment .markup pre code:-webkit-any([class~="d" i]):before{content:  var(--Content__ProgLang--d);}
.message-group .comment .markup pre code:-webkit-any([class~="dns" i]):before{content:  var(--Content__ProgLang--dns);}
.message-group .comment .markup pre code:-webkit-any([class~="dos" i],[class~="bat" i],[class~="cmd" i]):before{content:  var(--Content__ProgLang--dos);}
.message-group .comment .markup pre code:-webkit-any([class~="dart" i]):before{content:  var(--Content__ProgLang--dart);}
.message-group .comment .markup pre code:-webkit-any([class~="delphi" i],[class~="dpr" i],[class~="dfm" i],[class~="pas" i],[class~="pascal" i],[class~="freepascal" i],[class~="lazerus" i],[class~="lpr" i],[class~="lfm" i]):before{content:  var(--Content__ProgLang--delphi);}
.message-group .comment .markup pre code:-webkit-any([class~="diff" i],[class~="patch" i]):before{content:  var(--Content__ProgLang--diff);}
.message-group .comment .markup pre code:-webkit-any([class~="django" i],[class~="jinja" i]):before{content:  var(--Content__ProgLang--django);}
.message-group .comment .markup pre code:-webkit-any([class~="dockerfile" i],[class~="docker" i]):before{content:  var(--Content__ProgLang--dockerfile);}
.message-group .comment .markup pre code:-webkit-any([class~="dsconfig" i]):before{content:  var(--Content__ProgLang--dsconfig);}
.message-group .comment .markup pre code:-webkit-any([class~="dts" i]):before{content:  var(--Content__ProgLang--dts);}
.message-group .comment .markup pre code:-webkit-any([class~="dust" i],[class~="dst" i]):before{content:  var(--Content__ProgLang--dust);}

/***
 *      ______ 
 *     |  ____|
 *     | |__   
 *     |  __|    
 *     | |____ 
 *     |______|
 *             
 *             
 */

.message-group .comment .markup pre code:-webkit-any([class~="ebnf" i]):before{content:  var(--Content__ProgLang--ebnf);}
.message-group .comment .markup pre code:-webkit-any([class~="elixir" i]):before{content:  var(--Content__ProgLang--elixir);}
.message-group .comment .markup pre code:-webkit-any([class~="elm" i]):before{content:  var(--Content__ProgLang--elm);}
.message-group .comment .markup pre code:-webkit-any([class~="erlang" i],[class~="erl" i]):before{content:  var(--Content__ProgLang--erlang);}
.message-group .comment .markup pre code:-webkit-any([class~="excel" i],[class~="xls" i],[class~="xlsx" i]):before{content:  var(--Content__ProgLang--excel);}

/***
 *      ______ 
 *     |  ____|
 *     | |__   
 *     |  __|  
 *     | |     
 *     |_|     
 *             
 *             
 */

.message-group .comment .markup pre code:-webkit-any([class~="fsharp" i],[class~="fs" i]):before{content:  var(--Content__ProgLang--fsharp);}
.message-group .comment .markup pre code:-webkit-any([class~="fix" i]):before{content:  var(--Content__ProgLang--fix);}
.message-group .comment .markup pre code:-webkit-any([class~="fortran" i],[class~="f90" i],[class~="f95" i]):before{content:  var(--Content__ProgLang--fortran);}
 
/***
 *       _____ 
 *      / ____|
 *     | |  __ 
 *     | | |_ |  
 *     | |__| |
 *      \_____|
 *             
 *             
 */
 

.message-group .comment .markup pre code:-webkit-any([class~="gcode" i],[class~="nc" i]):before{content:  var(--Content__ProgLang--gcode);}
.message-group .comment .markup pre code:-webkit-any([class~="gams" i],[class~="gms" i]):before{content:  var(--Content__ProgLang--gams);}
.message-group .comment .markup pre code:-webkit-any([class~="gauss" i],[class~="gss" i]):before{content:  var(--Content__ProgLang--gauss);}
.message-group .comment .markup pre code:-webkit-any([class~="gherkin" i]):before{content:  var(--Content__ProgLang--gherkin);}
.message-group .comment .markup pre code:-webkit-any([class~="go" i],[class~="golang" i]):before{content:  var(--Content__ProgLang--go);}
.message-group .comment .markup pre code:-webkit-any([class~="golo" i],[class~="gololang" i]):before{content:  var(--Content__ProgLang--golo);}
.message-group .comment .markup pre code:-webkit-any([class~="gradle" i]):before{content:  var(--Content__ProgLang--gradle);}
.message-group .comment .markup pre code:-webkit-any([class~="groovy" i]):before{content:  var(--Content__ProgLang--groovy);}
 
/***
 *      _    _ 
 *     | |  | |
 *     | |__| |
 *     |  __  |
 *     | |  | |
 *     |_|  |_|
 *             
 *             
 */
 
.message-group .comment .markup pre code:-webkit-any([class~="html" i],[class~="xml" i],[class~="xhtml" i],[class~="rss" i],[class~="atom" i],[class~="xjb" i],[class~="xsd" i],[class~="xsl" i],[class~="plist" i]):before{content:  var(--Content__ProgLang--html);}
.message-group .comment .markup pre code:-webkit-any([class~="http" i],[class~="https" i]):before{content:  var(--Content__ProgLang--http);}
.message-group .comment .markup pre code:-webkit-any([class~="haml" i]):before{content:  var(--Content__ProgLang--haml);}
.message-group .comment .markup pre code:-webkit-any([class~="handlebars" i],[class~="hbs" i]):before{content:  var(--Content__ProgLang--handlebars);}
.message-group .comment .markup pre code:-webkit-any([class~="haskell" i],[class~="hs" i]):before{content:  var(--Content__ProgLang--haskell);}
.message-group .comment .markup pre code:-webkit-any([class~="haxe" i],[class~="hx" i]):before{content:  var(--Content__ProgLang--haxe);}
.message-group .comment .markup pre code:-webkit-any([class~="hy" i],[class~="hylang" i]):before{content:  var(--Content__ProgLang--hy);}

/***
 *      _____ 
 *     |_   _|
 *       | |  
 *       | |    
 *      _| |_ 
 *     |_____|
 *            
 *            
 */

.message-group .comment .markup pre code:-webkit-any([class~="ini" i]):before{content:  var(--Content__ProgLang--ini);}
.message-group .comment .markup pre code:-webkit-any([class~="inform7" i],[class~="i7" i]):before{content:  var(--Content__ProgLang--inform7);}
.message-group .comment .markup pre code:-webkit-any([class~="irpf90" i]):before{content:  var(--Content__ProgLang--irpf90);}
 
/***
 *           _ 
 *          | |
 *          | |
 *      _   | |
 *     | |__| |
 *      \____/ 
 *             
 *             
 */
 
.message-group .comment .markup pre code:-webkit-any([class~="json" i]):before{content:  var(--Content__ProgLang--json);}
.message-group .comment .markup pre code:-webkit-any([class~="java" i],[class~="jsp" i]):before{content:  var(--Content__ProgLang--java);}
.message-group .comment .markup pre code:-webkit-any([class~="js" i],[class~="javascript" i],[class~="jsx" i]):before{content:  var(--Content__ProgLang--js);}

/***
 *      _  __
 *     | |/ /
 *     | ' / 
 *     |  <  
 *     | . \ 
 *     |_|\_\
 *           
 *           
 */

/***
 *      _      
 *     | |     
 *     | |     
 *     | |     
 *     | |____ 
 *     |______|
 *             
 *             
 */

.message-group .comment .markup pre code:-webkit-any([class~="leaf" i]):before{content:  var(--Content__ProgLang--leaf);}
.message-group .comment .markup pre code:-webkit-any([class~="lasso" i],[class~="lassoscript" i]):before{content:  var(--Content__ProgLang--lasso);}
.message-group .comment .markup pre code:-webkit-any([class~="less" i]):before{content:  var(--Content__ProgLang--less);}
.message-group .comment .markup pre code:-webkit-any([class~="ldif" i]):before{content:  var(--Content__ProgLang--ldif);}
.message-group .comment .markup pre code:-webkit-any([class~="lisp" i]):before{content:  var(--Content__ProgLang--lisp);}
.message-group .comment .markup pre code:-webkit-any([class~="livecodeserver" i]):before{content:  var(--Content__ProgLang--lcs);}
.message-group .comment .markup pre code:-webkit-any([class~="livescipt" i],[class~="ls" i]):before{content:  var(--Content__ProgLang--livescipt);}
.message-group .comment .markup pre code:-webkit-any([class~="lua" i]):before{content:  var(--Content__ProgLang--lua);}

/***
 *      __  __ 
 *     |  \/  |
 *     | \  / |
 *     | |\/| |  
 *     | |  | |
 *     |_|  |_|
 *             
 *             
 */

.message-group .comment .markup pre code:-webkit-any([class~="makefile" i],[class~="mk" i],[class~="mak" i]):before{content:  var(--Content__ProgLang--makefile);}
.message-group .comment .markup pre code:-webkit-any([class~="markdown" i],[class~="md" i],[class~="mkd" i],[class~="mkdown" i]):before{content:  var(--Content__ProgLang--markdown);}
.message-group .comment .markup pre code:-webkit-any([class~="mathematica" i],[class~="mma" i]):before{content:  var(--Content__ProgLang--mathematica);}
.message-group .comment .markup pre code:-webkit-any([class~="matlab" i]):before{content:  var(--Content__ProgLang--matlab);}
.message-group .comment .markup pre code:-webkit-any([class~="maxima" i]):before{content:  var(--Content__ProgLang--maxima);}
.message-group .comment .markup pre code:-webkit-any([class~="mel" i]):before{content:  var(--Content__ProgLang--mel);}
.message-group .comment .markup pre code:-webkit-any([class~="mercury" i]):before{content:  var(--Content__ProgLang--mercury);}
.message-group .comment .markup pre code:-webkit-any([class~="mizar" i]):before{content:  var(--Content__ProgLang--mizar);}
.message-group .comment .markup pre code:-webkit-any([class~="mojolicious" i]):before{content:  var(--Content__ProgLang--mojolicious);}
.message-group .comment .markup pre code:-webkit-any([class~="monkey" i]):before{content:  var(--Content__ProgLang--monkey);}
.message-group .comment .markup pre code:-webkit-any([class~="moonscript" i],[class~="moon" i]):before{content:  var(--Content__ProgLang--moonscript);}
 
/***
 *      _   _ 
 *     | \ | |
 *     |  \| |
 *     | . ` | 
 *     | |\  |
 *     |_| \_|
 *            
 *            
 */
 
.message-group .comment .markup pre code:-webkit-any([class~="n1ql" i]):before{content:  var(--Content__ProgLang--n1ql);}
.message-group .comment .markup pre code:-webkit-any([class~="nsis" i]):before{content:  var(--Content__ProgLang--nsis);}
.message-group .comment .markup pre code:-webkit-any([class~="nginx" i],[class~="nginxconf" i]):before{content:  var(--Content__ProgLang--nginx);}
.message-group .comment .markup pre code:-webkit-any([class~="nimrod" i],[class~="nim" i]):before{content:  var(--Content__ProgLang--nimrod);}
.message-group .comment .markup pre code:-webkit-any([class~="nix" i]):before{content:  var(--Content__ProgLang--nix);}
 
/***
 *       ____  
 *      / __ \ 
 *     | |  | |
 *     | |  | | 
 *     | |__| |
 *      \____/ 
 *             
 *             
 */

.message-group .comment .markup pre code:-webkit-any([class~="ocaml" i]):before{content:  var(--Content__ProgLang--ocaml);}
.message-group .comment .markup pre code:-webkit-any([class~="objectivec" i]):before{content:  var(--Content__ProgLang--objectivec);}
.message-group .comment .markup pre code:-webkit-any([class~="glsl" i]):before{content:  var(--Content__ProgLang--glsl);}
.message-group .comment .markup pre code:-webkit-any([class~="openscad" i]):before{content:  var(--Content__ProgLang--openscad);}
.message-group .comment .markup pre code:-webkit-any([class~="ruleslanguage" i]):before{content:  var(--Content__ProgLang--ruleslang);}
.message-group .comment .markup pre code:-webkit-any([class~="oxygene" i]):before{content:  var(--Content__ProgLang--oxygene);} 

/***
 *      _____  
 *     |  __ \ 
 *     | |__) |
 *     |  ___/ 
 *     | |     
 *     |_|     
 *             
 *             
 */

.message-group .comment .markup pre code:-webkit-any([class~="pf" i]):before{content:  var(--Content__ProgLang--pf);}
.message-group .comment .markup pre code:-webkit-any([class~="php" i],[class~="php3" i],[class~="php4" i],[class~="php5" i],[class~="php6" i]):before{content:  var(--Content__ProgLang--php);}
.message-group .comment .markup pre code:-webkit-any([class~="parser3" i]):before{content:  var(--Content__ProgLang--parser3);}
.message-group .comment .markup pre code:-webkit-any([class~="perl" i],[class~="pl" i],[class~="pm" i]):before{content:  var(--Content__ProgLang--perl);}
.message-group .comment .markup pre code:-webkit-any([class~="pony" i]):before{content:  var(--Content__ProgLang--pony);}
.message-group .comment .markup pre code:-webkit-any([class~="powershell" i],[class~="ps" i]):before{content:  var(--Content__ProgLang--powershell);}
.message-group .comment .markup pre code:-webkit-any([class~="processing" i]):before{content:  var(--Content__ProgLang--processing);}
.message-group .comment .markup pre code:-webkit-any([class~="prolog" i]):before{content:  var(--Content__ProgLang--prolog);}
.message-group .comment .markup pre code:-webkit-any([class~="protobuf" i]):before{content:  var(--Content__ProgLang--protobuf);}
.message-group .comment .markup pre code:-webkit-any([class~="puppet" i],[class~="pp" i]):before{content:  var(--Content__ProgLang--puppet);}
.message-group .comment .markup pre code:-webkit-any([class~="python" i],[class~="py" i],[class~="gyp" i]):before{content:  var(--Content__ProgLang--python);}
.message-group .comment .markup pre code:-webkit-any([class~="profile" i]):before{content:  var(--Content__ProgLang--profile);}

/***
 *       ____  
 *      / __ \ 
 *     | |  | |
 *     | |  | |
 *     | |__| |
 *      \___\_\
 *             
 *             
 */
 
.message-group .comment .markup pre code:-webkit-any([class~="k" i],[class~="kdb" i]):before{content:  var(--Content__ProgLang--k);}
.message-group .comment .markup pre code:-webkit-any([class~="qml" i]):before{content:  var(--Content__ProgLang--qml);}
 
/***
 *      _____  
 *     |  __ \ 
 *     | |__) |
 *     |  _  /  
 *     | | \ \ 
 *     |_|  \_\
 *             
 *             
 */

.message-group .comment .markup pre code:-webkit-any([class~="r" i]):before{content:  var(--Content__ProgLang--r);}
.message-group .comment .markup pre code:-webkit-any([class~="rib" i]):before{content:  var(--Content__ProgLang--rib);}
.message-group .comment .markup pre code:-webkit-any([class~="rsl" i]):before{content:  var(--Content__ProgLang--rsl);}
.message-group .comment .markup pre code:-webkit-any([class~="graph" i],[class~="instances" i]):before{content:  var(--Content__ProgLang--graph);}
.message-group .comment .markup pre code:-webkit-any([class~="ruby" i],[class~="rb" i],[class~="gemspec" i],[class~="podspec" i],[class~="thor" i],[class~="irb" i]):before{content:  var(--Content__ProgLang--ruby);}
.message-group .comment .markup pre code:-webkit-any([class~="rust" i],[class~="rs" i]):before{content:  var(--Content__ProgLang--rust);}

/***
 *       _____ 
 *      / ____|
 *     | (___  
 *      \___ \  
 *      ____) |
 *     |_____/ 
 *             
 *             
 */

.message-group .comment .markup pre code:-webkit-any([class~="scss" i]):before{content:  var(--Content__ProgLang--scss);}
.message-group .comment .markup pre code:-webkit-any([class~="sql" i]):before{content:  var(--Content__ProgLang--sql);}
.message-group .comment .markup pre code:-webkit-any([class~="p21" i],[class~="step" i],[class~="stp" i]):before{content:  var(--Content__ProgLang--p21);}
.message-group .comment .markup pre code:-webkit-any([class~="scala" i]):before{content:  var(--Content__ProgLang--scala);}
.message-group .comment .markup pre code:-webkit-any([class~="scheme" i]):before{content:  var(--Content__ProgLang--scheme);}
.message-group .comment .markup pre code:-webkit-any([class~="scilab" i],[class~="sci" i]):before{content:  var(--Content__ProgLang--scilab);}
.message-group .comment .markup pre code:-webkit-any([class~="shell" i],[class~="console" i]):before{content:  var(--Content__ProgLang--shell);}
.message-group .comment .markup pre code:-webkit-any([class~="smali" i]):before{content:  var(--Content__ProgLang--smali);}
.message-group .comment .markup pre code:-webkit-any([class~="smalltalk" i],[class~="st" i]):before{content:  var(--Content__ProgLang--smalltalk);}
.message-group .comment .markup pre code:-webkit-any([class~="stan" i]):before{content:  var(--Content__ProgLang--stan);}
.message-group .comment .markup pre code:-webkit-any([class~="stata" i]):before{content:  var(--Content__ProgLang--stata);}
.message-group .comment .markup pre code:-webkit-any([class~="stylus" i],[class~="styl" i]):before{content:  var(--Content__ProgLang--stylus);}
.message-group .comment .markup pre code:-webkit-any([class~="subunit" i]):before{content:  var(--Content__ProgLang--subunit);}
.message-group .comment .markup pre code:-webkit-any([class~="swift" i]):before{content:  var(--Content__ProgLang--swift);}

/***
 *      _______ 
 *     |__   __|
 *        | |   
 *        | |   
 *        | |   
 *        |_|   
 *              
 *              
 */
 
.message-group .comment .markup pre code:-webkit-any([class~="tap" i]):before{content:  var(--Content__ProgLang--tap);}
.message-group .comment .markup pre code:-webkit-any([class~="tcl" i],[class~="tk" i]):before{content:  var(--Content__ProgLang--tcl);}
.message-group .comment .markup pre code:-webkit-any([class~="tex" i]):before{content:  var(--Content__ProgLang--tex);}
.message-group .comment .markup pre code:-webkit-any([class~="thrift" i]):before{content:  var(--Content__ProgLang--thrift);}
.message-group .comment .markup pre code:-webkit-any([class~="tp" i]):before{content:  var(--Content__ProgLang--tp);}
.message-group .comment .markup pre code:-webkit-any([class~="twig" i],[class~="craftcms" i]):before{content:  var(--Content__ProgLang--twig);}
.message-group .comment .markup pre code:-webkit-any([class~="typescript" i],[class~="ts" i]):before{content:  var(--Content__ProgLang--typescript);}
 
/***
 *      _    _ 
 *     | |  | |
 *     | |  | |
 *     | |  | | 
 *     | |__| |
 *      \____/ 
 *             
 *             
 */
 
/***
 *     __      __
 *     \ \    / /
 *      \ \  / / 
 *       \ \/ /    
 *        \  /   
 *         \/    
 *               
 *               
 */

.message-group .comment .markup pre code:-webkit-any([class~="vbnet" i],[class~="vb" i]):before{content:  var(--Content__ProgLang--vbnet);}
.message-group .comment .markup pre code:-webkit-any([class~="vbscript" i],[class~="vbs" i]):before{content:  var(--Content__ProgLang--vbscript);}
.message-group .comment .markup pre code:-webkit-any([class~="vhdl" i]):before{content:  var(--Content__ProgLang--vhdl);}
.message-group .comment .markup pre code:-webkit-any([class~="vala" i]):before{content:  var(--Content__ProgLang--vala);}
.message-group .comment .markup pre code:-webkit-any([class~="verilog" i],[class~="v" i]):before{content:  var(--Content__ProgLang--verilog);}
.message-group .comment .markup pre code:-webkit-any([class~="vim" i]):before{content:  var(--Content__ProgLang--vim);}
 
/***
 *     __          __
 *     \ \        / /
 *      \ \  /\  / /  
 *       \ \/  \/ /  
 *        \  /\  /   
 *         \/  \/    
 *                   
 *                   
 */
 
/***
 *     __   __
 *     \ \ / /
 *      \ V / 
 *       > <  
 *      / . \ 
 *     /_/ \_\
 *            
 *            
 */

.message-group .comment .markup pre code:-webkit-any([class~="x86asm" i]):before{content:  var(--Content__ProgLang--x86asm);}
.message-group .comment .markup pre code:-webkit-any([class~="xl" i],[class~="tao" i]):before{content:  var(--Content__ProgLang--xl);}
.message-group .comment .markup pre code:-webkit-any([class~="xpath" i],[class~="xq" i]):before{content:  var(--Content__ProgLang--xpath);}

/***
 *     __     __
 *     \ \   / /
 *      \ \_/ / 
 *       \   /  
 *        | |   
 *        |_|   
 *              
 *              
 */

/***
 *      ______
 *     |___  /
 *        / / 
 *       / /  
 *      / /__ 
 *     /_____|
 *            
 *            
 */

.message-group .comment .markup pre code:-webkit-any([class~="zephir" i],[class~="zep" i]):before{content:  var(--Content__ProgLang--zephir);} 
