:root {
    --INTModCodeBlockLanguages: '    \2022  Code Block Languages ~ spthiel / Customa Devs (Chat \2192  codeBlockLanguages.m.css)\A'!important;

    --ContentProgLang-1c:              "1c";

    --ContentProgLang-abnf:            "ABNF";
    --ContentProgLang-accesslog:       "Access Log";
    --ContentProgLang-actionscript:    "ActionScript";
    --ContentProgLang-ada:             "Ada";
    --ContentProgLang-apache:          "Apache";
    --ContentProgLang-applescript:     "Applescript";
    --ContentProgLang-arduino:         "Arduino";
    --ContentProgLang-armasm:          "ARM Assembly";
    --ContentProgLang-asciidoc:        "AsciiDoc";
    --ContentProgLang-aspectj:         "AspectJ";
    --ContentProgLang-atom:            "Atom Feed (XML)";
    --ContentProgLang-autohotkey:      "AutoHotkey";
    --ContentProgLang-autoit:          "AutoIt";
    --ContentProgLang-avrasm:          "AVR Assembler";
    --ContentProgLang-awk:             "Awk";
    --ContentProgLang-axapta:          "Axapta";

    --ContentProgLang-bash:            "Bash";
    --ContentProgLang-basic:           "Basic";
    --ContentProgLang-dos:             "Batch";
    --ContentProgLang-bnf:             "BNF";
    --ContentProgLang-brainfuck:       "Brainfuck";

    --ContentProgLang-c:               "C/C++";
    --ContentProgLang-cs:              "C#";
    --ContentProgLang-cal:             "CAL";
    --ContentProgLang-capnproto:       "Cap'n Proto";
    --ContentProgLang-ceylon:          "Ceylon";
    --ContentProgLang-clean:           "Clean";
    --ContentProgLang-clojure:         "Clojure";
    --ContentProgLang-clojure-repl:    "Clojure REPL";
    --ContentProgLang-cmake:           "CMake";
    --ContentProgLang-coffeescript:    "CoffeeScript";
    --ContentProgLang-coq:             "Coq";
    --ContentProgLang-cos:             "CachÃ© Object Script";
    --ContentProgLang-podspec:         "CocoaPod";
    --ContentProgLang-crmsh:           "crmsh";
    --ContentProgLang-crystal:         "Crystal";
    --ContentProgLang-csp:             "CSP";
    --ContentProgLang-css:             "CSS";

    --ContentProgLang-d:               "D";
    --ContentProgLang-dart:            "Dart";
    --ContentProgLang-delphi:          "Delphi (Object Pascal)";
    --ContentProgLang-diff:            "Diff";
    --ContentProgLang-django:          "Django";
    --ContentProgLang-dns:             "DNS Zone File";
    --ContentProgLang-dockerfile:      "Dockerfile";
    --ContentProgLang-dsconfig:        "dsconfig";
    --ContentProgLang-dts:             "Device Tree";
    --ContentProgLang-dust:            "Dust";

    --ContentProgLang-ebnf:            "EBNF";
    --ContentProgLang-elixir:          "Elixir";
    --ContentProgLang-elm:             "Elm";
    --ContentProgLang-erb:             "ERB";
    --ContentProgLang-erlang:          "Erlang";
    --ContentProgLang-erlang-repl:     "Erlang REPL";
    --ContentProgLang-excel:           "Excel";

    --ContentProgLang-fs:              "F#";
    --ContentProgLang-fix:             "Fix";
    --ContentProgLang-flix:            "Flix";
    --ContentProgLang-fortran:         "Fortran";

    --ContentProgLang-gams:            "GAMS";
    --ContentProgLang-gauss:           "Gauss";
    --ContentProgLang-gcode:           "G-code";
    --ContentProgLang-gherkin:         "Gherkin";
    --ContentProgLang-glsl:            "GLSL";
    --ContentProgLang-go:              "Go";
    --ContentProgLang-golo:            "Golo";
    --ContentProgLang-gradle:          "Gradle";
    --ContentProgLang-groovy:          "Groovy";

    --ContentProgLang-haml:            "Haml";
    --ContentProgLang-handlebars:      "Handlebars";
    --ContentProgLang-haskell:         "Haskell";
    --ContentProgLang-haxe:            "Haxe";
    --ContentProgLang-hsp:             "HSP";
    --ContentProgLang-html:            "HTML";
    --ContentProgLang-htmlbars:        "HTMLBars";
    --ContentProgLang-http:            "HTTP";
    --ContentProgLang-https:           "HTTPS";
    --ContentProgLang-hy:              "Hy";

    --ContentProgLang-inform7:         "Inform7";
    --ContentProgLang-ini:             "Ini";
    --ContentProgLang-irpf90:          "IRPF90";
    --ContentProgLang-irb:             "IRB";

    --ContentProgLang-java:            "Java";
    --ContentProgLang-javascript:      "JavaScript (Babel)";
    --ContentProgLang-xjb:             "JAXB (XML)";
    --ContentProgLang-jboss-cli:       "JBoss CLI";
    --ContentProgLang-json:            "JSON";
    --ContentProgLang-julia:           "Julia";
    --ContentProgLang-julia-repl:      "Julia REPL";

    --ContentProgLang-kotlin:          "Kotlin";

    --ContentProgLang-lasso:           "Lasso";
    --ContentProgLang-ldif:            "LDIF";
    --ContentProgLang-leaf:            "Leaf";
    --ContentProgLang-less:            "Less";
    --ContentProgLang-lisp:            "Lisp";
    --ContentProgLang-livecodeserver:  "LiveCode Server";
    --ContentProgLang-livescript:      "LiveScript";
    --ContentProgLang-llvm:            "LLVM IR";
    --ContentProgLang-lsl:             "LSL";
    --ContentProgLang-lua:             "Lua";

    --ContentProgLang-makefile:        "Makefile";
    --ContentProgLang-markdown:        "Markdown";
    --ContentProgLang-mathematica:     "Mathematica";
    --ContentProgLang-matlab:          "MatLab";
    --ContentProgLang-maxima:          "Maxima";
    --ContentProgLang-mel:             "MEL";
    --ContentProgLang-mercury:         "Mercury";
    --ContentProgLang-mipsasm:         "MISP Assembly";
    --ContentProgLang-routeros:        "Mikrotik RouterOS";
    --ContentProgLang-mizar:           "Mizar";
    --ContentProgLang-mojolicious:     "Mojolicious";
    --ContentProgLang-monkey:          "Monkey";
    --ContentProgLang-moonscript:      "MoonScript";

    --ContentProgLang-n1ql:            "N1QL";
    --ContentProgLang-nginx:           "Nginx";
    --ContentProgLang-nimrod:          "Nimrod";
    --ContentProgLang-nix:             "Nix";
    --ContentProgLang-nsis:            "NSIS";

    --ContentProgLang-objectivec:      "Objective-C";
    --ContentProgLang-ocaml:           "OCaml";
    --ContentProgLang-openscad:        "OpenSCAD";
    --ContentProgLang-ruleslanguage:   "Oracle Rules Language";
    --ContentProgLang-oxygene:         "Oxygene";

    --ContentProgLang-parser3:         "Parser3";
    --ContentProgLang-pascal:          "Pascal/Object Pascal";
    --ContentProgLang-perl:            "Perl";
    --ContentProgLang-pf:              "PF";
    --ContentProgLang-php:             "PHP";
    --ContentProgLang-pony:            "Pony";
    --ContentProgLang-powershell:      "PowerShell";
    --ContentProgLang-processing:      "Processing";
    --ContentProgLang-prolog:          "Prolog";
    --ContentProgLang-plist:           "Property List";
    --ContentProgLang-protobuf:        "Protocol Buffers";
    --ContentProgLang-puppet:          "Puppet";
    --ContentProgLang-purebasic:       "PureBASIC";
    --ContentProgLang-python:          "Python";
    --ContentProgLang-profile:         "Python profile";

    --ContentProgLang-q:               "Q";
    --ContentProgLang-qml:             "QML";

    --ContentProgLang-r:               "R";
    --ContentProgLang-rib:             "RenderMan RIB";
    --ContentProgLang-rsl:             "RenderMan RSL";
    --ContentProgLang-roboconf:        "Roboconf";
    --ContentProgLang-rss:             "RSS Feed (XML)";
    --ContentProgLang-ruby:            "Ruby";
    --ContentProgLang-gemspec:         "Ruby Gem";
    --ContentProgLang-rust:            "Rust";

    --ContentProgLang-scala:           "Scala";
    --ContentProgLang-scheme:          "Scheme";
    --ContentProgLang-scilab:          "Scilab";
    --ContentProgLang-scss:            "SCSS";
    --ContentProgLang-shell:           "Shell";
    --ContentProgLang-smali:           "Smali";
    --ContentProgLang-smalltalk:       "Smalltalk";
    --ContentProgLang-sml:             "SML";
    --ContentProgLang-sqf:             "SQF";
    --ContentProgLang-sql:             "SQL";
    --ContentProgLang-stan:            "Stan";
    --ContentProgLang-stata:           "Stata";
    --ContentProgLang-step21:          "STEP Part 21";
    --ContentProgLang-stylus:          "Stylus";
    --ContentProgLang-subunit:         "SubUnit";
    --ContentProgLang-swift:           "Swift";

    --ContentProgLang-taggerscript:    "Tagger Script";
    --ContentProgLang-tap:             "TAP";
    --ContentProgLang-thor:            "Thor";
    --ContentProgLang-tcl:             "Tcl";
    --ContentProgLang-tex:             "TeX";
    --ContentProgLang-thrift:          "Thrift";
    --ContentProgLang-tp:              "TP";
    --ContentProgLang-twig:            "Twig";
    --ContentProgLang-typescript:      "TypeScript";
    --ContentProgLang-vala:            "Vala";
    --ContentProgLang-vbnet:           "VB.NET";
    --ContentProgLang-vbscript:        "VBScript";
    --ContentProgLang-vbscript-html:   "VBScript HTML";
    --ContentProgLang-verilog:         "Verilog";
    --ContentProgLang-vhdl:            "VHDL";
    --ContentProgLang-vim:             "Vim Script";

    --ContentProgLang-x86asm:          "x86 Assembly";
    --ContentProgLang-xl:              "XL";
    --ContentProgLang-xquery:          "XQuery";
    --ContentProgLang-yaml:            "YAML";
    --ContentProgLang-xhtml:           "XHTML";
    --ContentProgLang-xml:             "XML";
    --ContentProgLang-xsd:             "XML Schema";
    --ContentProgLang-xsl:             "XSL";

    --ContentProgLang-zephir:          "Zephir";
    --ContentProgLang-default:         "Not defined";
}

.markup-2BOw-j .hljs::before{
    display: block;
    font-family: var(--FontFamily);
    font-size: 13px;
    margin-bottom:10px;
}

/***
 *       _____                 _           _     
 *      / ____|               | |         | |    
 *     | (___  _   _ _ __ ___ | |__   ___ | |___ 
 *      \___ \| | | | '_ ` _ \| '_ \ / _ \| / __|
 *      ____) | |_| | | | | | | |_) | (_) | \__ \
 *     |_____/ \__, |_| |_| |_|_.__/ \___/|_|___/
 *              __/ |                            
 *             |___/                             
 */
 
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="1c" i]):before{content:  var(--ContentProgLang-1c);}

/***
 *               
 *         /\    
 *        /  \   
 *       / /\ \  
 *      / ____ \ 
 *     /_/    \_\
 *               
 *               
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="abnf" i]):before{content:  var(--ContentProgLang-abnf);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="accesslog" i]):before{content:  var(--ContentProgLang-accesslog);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="actionscript" i],[class~="as" i]):before{content:  var(--ContentProgLang-actionscript);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="ada" i]):before{content:  var(--ContentProgLang-ada);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="armasm" i],[class~="arm" i]):before{content:  var(--ContentProgLang-armasm);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="avrasm" i]):before{content:  var(--ContentProgLang-avrasm);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="apache" i]):before{content:  var(--ContentProgLang-apache);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="arduino" i]):before{content:  var(--ContentProgLang-arduino);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="applescript" i],[class~="osascript" i]):before{content:  var(--ContentProgLang-applescript);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="asciidoc" i],[class~="adoc" i]):before{content:  var(--ContentProgLang-asciidoc);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="aspectj" i]):before{content:  var(--ContentProgLang-aspectj);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="autohotkey" i]):before{content:  var(--ContentProgLang-autohotkey);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="autoit" i]):before{content:  var(--ContentProgLang-autohotkey);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="awk" i],[class~="mawk" i],[class~="nawk" i],[class~="gawk" i]):before{content:  var(--ContentProgLang-awk);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="axapta" i]):before{content:  var(--ContentProgLang-axapta);}

/***
 *      ____  
 *     |  _ \ 
 *     | |_) |
 *     |  _ < 
 *     | |_) |
 *     |____/ 
 *            
 *            
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="bash" i],[class~="sh" i],[class~="zsh" i]):before{content:  var(--ContentProgLang-bash);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="basic" i]):before{content:  var(--ContentProgLang-basic);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="bnf" i]):before{content:  var(--ContentProgLang-bnf);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="brainfuck" i],[class~="bf" i]):before{content:  var(--ContentProgLang-brainfuck);}

/***
 *       _____ 
 *      / ____|
 *     | |     
 *     | |     
 *     | |____ 
 *      \_____|
 *             
 *             
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="cs" i],[class~="csharp" i]):before{content:  var(--ContentProgLang-cs);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="cpp" i],[class~="c" i],[class~="cc" i],[class~="h" i],[class~="c++" i],[class~="h++" i],[class~="hpp" i]):before{content:  var(--ContentProgLang-cpp);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="cal" i]):before{content:  var(--ContentProgLang-cal);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="cos" i],[class~="cls" i]):before{content:  var(--ContentProgLang-cos);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="cmake" i]):before{content:  var(--ContentProgLang-cmake);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="coq" i]):before{content:  var(--ContentProgLang-coq);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="csp" i]):before{content:  var(--ContentProgLang-csp);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="css" i]):before{content:  var(--ContentProgLang-css);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="capnproto" i],[class~="capnp" i]):before{content:  var(--ContentProgLang-capnproto);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="clojure" i],[class~="clj" i]):before{content:  var(--ContentProgLang-clojure);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="coffee" i],[class~="coffeescript" i],[class~="cson" i],[class~="iced" i]):before{content:  var(--ContentProgLang-coffee);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="crmsh" i],[class~="crm" i],[class~="pcmk" i]):before{content:  var(--ContentProgLang-crmsh);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="crystal" i]):before{content:  var(--ContentProgLang-crystal);}

/***
 *      _____  
 *     |  __ \ 
 *     | |  | |
 *     | |  | |
 *     | |__| |
 *     |_____/ 
 *             
 *             
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="d" i]):before{content:  var(--ContentProgLang-d);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="dns" i]):before{content:  var(--ContentProgLang-dns);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="dos" i],[class~="bat" i],[class~="cmd" i]):before{content:  var(--ContentProgLang-dos);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="dart" i]):before{content:  var(--ContentProgLang-dart);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="delphi" i],[class~="dpr" i],[class~="dfm" i],[class~="pas" i],[class~="pascal" i],[class~="freepascal" i],[class~="lazerus" i],[class~="lpr" i],[class~="lfm" i]):before{content:  var(--ContentProgLang-delphi);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="diff" i],[class~="patch" i]):before{content:  var(--ContentProgLang-diff);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="django" i],[class~="jinja" i]):before{content:  var(--ContentProgLang-django);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="dockerfile" i],[class~="docker" i]):before{content:  var(--ContentProgLang-dockerfile);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="dsconfig" i]):before{content:  var(--ContentProgLang-dsconfig);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="dts" i]):before{content:  var(--ContentProgLang-dts);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="dust" i],[class~="dst" i]):before{content:  var(--ContentProgLang-dust);}

/***
 *      ______ 
 *     |  ____|
 *     | |__   
 *     |  __|    
 *     | |____ 
 *     |______|
 *             
 *             
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="ebnf" i]):before{content:  var(--ContentProgLang-ebnf);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="elixir" i]):before{content:  var(--ContentProgLang-elixir);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="elm" i]):before{content:  var(--ContentProgLang-elm);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="erlang" i],[class~="erl" i]):before{content:  var(--ContentProgLang-erlang);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="excel" i],[class~="xls" i],[class~="xlsx" i]):before{content:  var(--ContentProgLang-excel);}

/***
 *      ______ 
 *     |  ____|
 *     | |__   
 *     |  __|  
 *     | |     
 *     |_|     
 *             
 *             
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="fsharp" i],[class~="fs" i]):before{content:  var(--ContentProgLang-fsharp);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="fix" i]):before{content:  var(--ContentProgLang-fix);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="fortran" i],[class~="f90" i],[class~="f95" i]):before{content:  var(--ContentProgLang-fortran);}
 
/***
 *       _____ 
 *      / ____|
 *     | |  __ 
 *     | | |_ |  
 *     | |__| |
 *      \_____|
 *             
 *             
 */
 

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="gcode" i],[class~="nc" i]):before{content:  var(--ContentProgLang-gcode);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="gams" i],[class~="gms" i]):before{content:  var(--ContentProgLang-gams);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="gauss" i],[class~="gss" i]):before{content:  var(--ContentProgLang-gauss);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="gherkin" i]):before{content:  var(--ContentProgLang-gherkin);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="go" i],[class~="golang" i]):before{content:  var(--ContentProgLang-go);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="golo" i],[class~="gololang" i]):before{content:  var(--ContentProgLang-golo);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="gradle" i]):before{content:  var(--ContentProgLang-gradle);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="groovy" i]):before{content:  var(--ContentProgLang-groovy);}
 
/***
 *      _    _ 
 *     | |  | |
 *     | |__| |
 *     |  __  |
 *     | |  | |
 *     |_|  |_|
 *             
 *             
 */
 
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="html" i],[class~="xml" i],[class~="xhtml" i],[class~="rss" i],[class~="atom" i],[class~="xjb" i],[class~="xsd" i],[class~="xsl" i],[class~="plist" i]):before{content:  var(--ContentProgLang-html);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="http" i],[class~="https" i]):before{content:  var(--ContentProgLang-http);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="haml" i]):before{content:  var(--ContentProgLang-haml);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="handlebars" i],[class~="hbs" i]):before{content:  var(--ContentProgLang-handlebars);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="haskell" i],[class~="hs" i]):before{content:  var(--ContentProgLang-haskell);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="haxe" i],[class~="hx" i]):before{content:  var(--ContentProgLang-haxe);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="hy" i],[class~="hylang" i]):before{content:  var(--ContentProgLang-hy);}

/***
 *      _____ 
 *     |_   _|
 *       | |  
 *       | |    
 *      _| |_ 
 *     |_____|
 *            
 *            
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="ini" i]):before{content:  var(--ContentProgLang-ini);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="inform7" i],[class~="i7" i]):before{content:  var(--ContentProgLang-inform7);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="irpf90" i]):before{content:  var(--ContentProgLang-irpf90);}
 
/***
 *           _ 
 *          | |
 *          | |
 *      _   | |
 *     | |__| |
 *      \____/ 
 *             
 *             
 */
 
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="json" i]):before{content:  var(--ContentProgLang-json);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="java" i],[class~="jsp" i]):before{content:  var(--ContentProgLang-java);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="js" i],[class~="javascript" i],[class~="jsx" i]):before{content:  var(--ContentProgLang-js);}

/***
 *      _  __
 *     | |/ /
 *     | ' / 
 *     |  <  
 *     | . \ 
 *     |_|\_\
 *           
 *           
 */

/***
 *      _      
 *     | |     
 *     | |     
 *     | |     
 *     | |____ 
 *     |______|
 *             
 *             
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="leaf" i]):before{content:  var(--ContentProgLang-leaf);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="lasso" i],[class~="lassoscript" i]):before{content:  var(--ContentProgLang-lasso);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="less" i]):before{content:  var(--ContentProgLang-less);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="ldif" i]):before{content:  var(--ContentProgLang-ldif);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="lisp" i]):before{content:  var(--ContentProgLang-lisp);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="livecodeserver" i]):before{content:  var(--ContentProgLang-lcs);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="livescipt" i],[class~="ls" i]):before{content:  var(--ContentProgLang-livescipt);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="lua" i]):before{content:  var(--ContentProgLang-lua);}

/***
 *      __  __ 
 *     |  \/  |
 *     | \  / |
 *     | |\/| |  
 *     | |  | |
 *     |_|  |_|
 *             
 *             
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="makefile" i],[class~="mk" i],[class~="mak" i]):before{content:  var(--ContentProgLang-makefile);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="markdown" i],[class~="md" i],[class~="mkd" i],[class~="mkdown" i]):before{content:  var(--ContentProgLang-markdown);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="mathematica" i],[class~="mma" i]):before{content:  var(--ContentProgLang-mathematica);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="matlab" i]):before{content:  var(--ContentProgLang-matlab);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="maxima" i]):before{content:  var(--ContentProgLang-maxima);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="mel" i]):before{content:  var(--ContentProgLang-mel);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="mercury" i]):before{content:  var(--ContentProgLang-mercury);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="mizar" i]):before{content:  var(--ContentProgLang-mizar);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="mojolicious" i]):before{content:  var(--ContentProgLang-mojolicious);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="monkey" i]):before{content:  var(--ContentProgLang-monkey);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="moonscript" i],[class~="moon" i]):before{content:  var(--ContentProgLang-moonscript);}
 
/***
 *      _   _ 
 *     | \ | |
 *     |  \| |
 *     | . ` | 
 *     | |\  |
 *     |_| \_|
 *            
 *            
 */
 
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="n1ql" i]):before{content:  var(--ContentProgLang-n1ql);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="nsis" i]):before{content:  var(--ContentProgLang-nsis);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="nginx" i],[class~="nginxconf" i]):before{content:  var(--ContentProgLang-nginx);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="nimrod" i],[class~="nim" i]):before{content:  var(--ContentProgLang-nimrod);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="nix" i]):before{content:  var(--ContentProgLang-nix);}
 
/***
 *       ____  
 *      / __ \ 
 *     | |  | |
 *     | |  | | 
 *     | |__| |
 *      \____/ 
 *             
 *             
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="ocaml" i]):before{content:  var(--ContentProgLang-ocaml);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="objectivec" i]):before{content:  var(--ContentProgLang-objectivec);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="glsl" i]):before{content:  var(--ContentProgLang-glsl);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="openscad" i]):before{content:  var(--ContentProgLang-openscad);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="ruleslanguage" i]):before{content:  var(--ContentProgLang-ruleslang);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="oxygene" i]):before{content:  var(--ContentProgLang-oxygene);} 

/***
 *      _____  
 *     |  __ \ 
 *     | |__) |
 *     |  ___/ 
 *     | |     
 *     |_|     
 *             
 *             
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="pf" i]):before{content:  var(--ContentProgLang-pf);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="php" i],[class~="php3" i],[class~="php4" i],[class~="php5" i],[class~="php6" i]):before{content:  var(--ContentProgLang-php);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="parser3" i]):before{content:  var(--ContentProgLang-parser3);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="perl" i],[class~="pl" i],[class~="pm" i]):before{content:  var(--ContentProgLang-perl);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="pony" i]):before{content:  var(--ContentProgLang-pony);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="powershell" i],[class~="ps" i]):before{content:  var(--ContentProgLang-powershell);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="processing" i]):before{content:  var(--ContentProgLang-processing);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="prolog" i]):before{content:  var(--ContentProgLang-prolog);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="protobuf" i]):before{content:  var(--ContentProgLang-protobuf);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="puppet" i],[class~="pp" i]):before{content:  var(--ContentProgLang-puppet);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="python" i],[class~="py" i],[class~="gyp" i]):before{content:  var(--ContentProgLang-python);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="profile" i]):before{content:  var(--ContentProgLang-profile);}

/***
 *       ____  
 *      / __ \ 
 *     | |  | |
 *     | |  | |
 *     | |__| |
 *      \___\_\
 *             
 *             
 */
 
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="k" i],[class~="kdb" i]):before{content:  var(--ContentProgLang-k);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="qml" i]):before{content:  var(--ContentProgLang-qml);}
 
/***
 *      _____  
 *     |  __ \ 
 *     | |__) |
 *     |  _  /  
 *     | | \ \ 
 *     |_|  \_\
 *             
 *             
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="r" i]):before{content:  var(--ContentProgLang-r);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="rib" i]):before{content:  var(--ContentProgLang-rib);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="rsl" i]):before{content:  var(--ContentProgLang-rsl);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="graph" i],[class~="instances" i]):before{content:  var(--ContentProgLang-graph);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="ruby" i],[class~="rb" i],[class~="gemspec" i],[class~="podspec" i],[class~="thor" i],[class~="irb" i]):before{content:  var(--ContentProgLang-ruby);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="rust" i],[class~="rs" i]):before{content:  var(--ContentProgLang-rust);}

/***
 *       _____ 
 *      / ____|
 *     | (___  
 *      \___ \  
 *      ____) |
 *     |_____/ 
 *             
 *             
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="scss" i]):before{content:  var(--ContentProgLang-scss);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="sql" i]):before{content:  var(--ContentProgLang-sql);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="p21" i],[class~="step" i],[class~="stp" i]):before{content:  var(--ContentProgLang-p21);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="scala" i]):before{content:  var(--ContentProgLang-scala);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="scheme" i]):before{content:  var(--ContentProgLang-scheme);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="scilab" i],[class~="sci" i]):before{content:  var(--ContentProgLang-scilab);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="shell" i],[class~="console" i]):before{content:  var(--ContentProgLang-shell);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="smali" i]):before{content:  var(--ContentProgLang-smali);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="smalltalk" i],[class~="st" i]):before{content:  var(--ContentProgLang-smalltalk);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="stan" i]):before{content:  var(--ContentProgLang-stan);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="stata" i]):before{content:  var(--ContentProgLang-stata);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="stylus" i],[class~="styl" i]):before{content:  var(--ContentProgLang-stylus);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="subunit" i]):before{content:  var(--ContentProgLang-subunit);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="swift" i]):before{content:  var(--ContentProgLang-swift);}

/***
 *      _______ 
 *     |__   __|
 *        | |   
 *        | |   
 *        | |   
 *        |_|   
 *              
 *              
 */
 
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="tap" i]):before{content:  var(--ContentProgLang-tap);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="tcl" i],[class~="tk" i]):before{content:  var(--ContentProgLang-tcl);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="tex" i]):before{content:  var(--ContentProgLang-tex);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="thrift" i]):before{content:  var(--ContentProgLang-thrift);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="tp" i]):before{content:  var(--ContentProgLang-tp);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="twig" i],[class~="craftcms" i]):before{content:  var(--ContentProgLang-twig);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="typescript" i],[class~="ts" i]):before{content:  var(--ContentProgLang-typescript);}
 
/***
 *      _    _ 
 *     | |  | |
 *     | |  | |
 *     | |  | | 
 *     | |__| |
 *      \____/ 
 *             
 *             
 */
 
/***
 *     __      __
 *     \ \    / /
 *      \ \  / / 
 *       \ \/ /    
 *        \  /   
 *         \/    
 *               
 *               
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="vbnet" i],[class~="vb" i]):before{content:  var(--ContentProgLang-vbnet);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="vbscript" i],[class~="vbs" i]):before{content:  var(--ContentProgLang-vbscript);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="vhdl" i]):before{content:  var(--ContentProgLang-vhdl);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="vala" i]):before{content:  var(--ContentProgLang-vala);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="verilog" i],[class~="v" i]):before{content:  var(--ContentProgLang-verilog);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="vim" i]):before{content:  var(--ContentProgLang-vim);}
 
/***
 *     __          __
 *     \ \        / /
 *      \ \  /\  / /  
 *       \ \/  \/ /  
 *        \  /\  /   
 *         \/  \/    
 *                   
 *                   
 */
 
/***
 *     __   __
 *     \ \ / /
 *      \ V / 
 *       > <  
 *      / . \ 
 *     /_/ \_\
 *            
 *            
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="x86asm" i]):before{content:  var(--ContentProgLang-x86asm);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="xl" i],[class~="tao" i]):before{content:  var(--ContentProgLang-xl);}
.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="xpath" i],[class~="xq" i]):before{content:  var(--ContentProgLang-xpath);}

/***
 *     __     __
 *     \ \   / /
 *      \ \_/ / 
 *       \   /  
 *        | |   
 *        |_|   
 *              
 *              
 */

/***
 *      ______
 *     |___  /
 *        / / 
 *       / /  
 *      / /__ 
 *     /_____|
 *            
 *            
 */

.message-1PNnaP .markup-2BOw-j pre code:-webkit-any([class~="zephir" i],[class~="zep" i]):before{content:  var(--ContentProgLang-zephir);} 
