:root {
  --INTModCustomEditText: "    \2022  Custom Edit Text ~ Customa Devs (Chat \2192  customEditText.m.css)\A"!important;
  --INTVarCustomEditText: "\A\A Custom Edit Text - Module \A \2022  --ContentEditText \2192  Allowed Values: Text"!important;
  --ContentEditText: "OwO, what was that";
}

.edited-3sfAzf {
  visibility: hidden;
  font-size: 0;
}

.edited-3sfAzf::after {
  visibility: visible!important;
  font-size: .625rem;
  width: fit-content!important;
  content: var(--ContentEditText)!important;
  margin-left: 5px;
}
