:root{
    --DisplayEmbedPill: none!important;
    --INTModEmbedsModernized: '\2022  Embeds Modernized ~ Customa Devs (Chat \2192  embedsModernized.m.css)\A'!important;
}

.embedInner-1-fpTo{
    border-radius: 10px!important;
}

.embedDescription-1Cuq9a{
    margin-bottom: 5px;
}

.embedContent-3fnYWm .imageWrapper-2p5ogY{
    order: 1;
    margin: 3px 16px 5px 0;
    width: 200px!important;
    height: unset!important;
}

.embedContent-3fnYWm .embedContentInner-FBnk7v{
    order: 2;
}

.embedContent-3fnYWm .imageWrapper-2p5ogY img{
    width: 200px!important;
    height: unset!important;
    background-size:contain;
    background-position: 50%;
    background-repeat: no-repeat;
    overflow:hidden;
    background-color:transparent;
    z-index:1;
    position: relative;
    border-radius: 8px!important;
}

.embedVideo-3nf0O9{
    position: relative;
    top: -30px;
    margin-bottom: -5px;
}

.embedContent-3fnYWm{
    height: fit-content;
    padding-bottom: 25px;
}

.embedContentInner-FBnk7v > div:first-child{
    background-color: rgba(0,0,0,0.2)!important;
    padding-left: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 94%;
    border-radius: 5px;
}

.embedContentInner-FBnk7v div:first-child span, .embedContentInner-FBnk7v div:first-child .embedProviderLink-2Pq1Uw{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    pointer-events: none;
    color: #87909c!important;
}