:root {
  --INTModGuildsWrapper: "    \2022  Guilds Wrapper 2.0 ~ Customa Devs (Chat \2192  guildsWrapper.m.css)\A" !important;
  --INTVarGuildsWrapper: "\A\A Guilds Wrapper - Module \A \2022  --FilterNoHover \2192  Allowed Values: Filter Value (pref. grayscale(100%) \A \2022 --WidthMax \2192  Allowed Values: XYpx (pref. 80px)" !important;
  --WidthGuildMax: 80px;
  --DurationGuildsWrapper: 0.2s;
}

.wrapper-1Rf91z /* GuildsWrapper */ {
  width: 16px;
  transition: width var(--DurationGuildsWrapper);
}

.wrapper-1Rf91z:hover /* GuildsWrapper Hover Effect */ {
  width: var(--WidthGuildMax)!important;
}

.wrapper-1Rf91z .wrapper-232cHJ /* Ping Notification */{
  background-color: transparent!important;
  color: var(--ColAccent);
  right: 50px;
  bottom: 2px;
  box-shadow: none;
}

/* Hide Specific Elements when not in View */
.wrapper-1Rf91z .friendsOnline-2JkivW, .wrapper-1Rf91z .bar-30k2ka{
  opacity: 0;
  transition: opacity 200ms;
}
.wrapper-1Rf91z:hover .friendsOnline-2JkivW, .wrapper-1Rf91z:hover .bar-30k2ka{
  opacity: 1;
}

.wrapper-1Rf91z .audio-2KA0-x::after, .wrapper-1Rf91z .video-2jNDI4:after /* Badge for when in voice and/or screensharing */ {
  height: 15px !important;
  width: 15px !important;
  background-color: transparent !important;
  left: -15px !important;
  top: -5px !important;
  transform: rotate(-90deg);
  transition: transform 200ms;
}

.wrapper-1Rf91z:hover .audio-2KA0-x::after, .wrapper-1Rf91z:hover .video-2jNDI4:after /* Badge for when in voice and/or screensharing on server hover */ {
  transform: rotate(0);
}
