:root {
  --INTModGuildsWrapper: "    \2022  Guilds Wrapper 2.0 ~ Customa Devs (Chat \2192  guildsWrapper.m.css)\A" !important;
  --INTVarGuildsWrapper: "\A\A Guilds Wrapper - Module \A \2022  --FilterNoHover \2192  Allowed Values: Filter Value (pref. grayscale(100%) \A \2022 --WidthMax \2192  Allowed Values: XYpx (pref. 80px)" !important;
  --FilterNoHover: grayscale(100%);
  --FilterHover: grayscale(0%);
  --WidthGuildMax: 80px;
  --DurationGuildsWrapper: 0.2s;
}

.wrapper-1Rf91z /* GuildsWrapper */ {
  width: 16px;
  transition: width var(--DurationGuildsWrapper);
}

.wrapper-1Rf91z:hover /* GuildsWrapper Hover Effect */ {
  width: var(--WidthGuildMax)!important;
}

.wrapper-1Rf91z .scroller-2FKFPG /* Move Scroller to left to move guilds out of view */{
  padding-left: 16px;
}

.wrapper-1Rf91z .wrapper-2lTRaf .icon-3o6xvg, .wrapper-1Rf91z .wrapper-2lTRaf .inner-1W0Bkn /* Disable Animation on Hover */{
  border-radius: 25px!important;
}

.wrapper-1Rf91z .container-2td-dC .wrapper-2lTRaf /* Set Filter when server is not hovered */{
  filter: var(--FilterNoHover);
  transition: filter 200ms;
}

.wrapper-1Rf91z .container-2td-dC .wrapper-2lTRaf:hover /* Set Filter when server is hovered */{
  filter: var(--FilterHover);
}

.wrapper-1Rf91z .wrapper-232cHJ /* Ping Notification */{
  background-color: transparent!important;
  color: var(--ColAccent);
  right: 50px;
  bottom: 2px;
  box-shadow: none;
}

/* Unread Indicator */
.wrapper-1Rf91z .container-2td-dC::before{
  width: 5px;
  left: -10px;
}
.wrapper-1Rf91z .container-2td-dC.unread-2OHH1w::before{
  height: 5px;
}
.wrapper-1Rf91z .container-2td-dC.selected-nT-gM3::before{
  height: 40px;
}

/* Hide Specific Elements when not in View */
.wrapper-1Rf91z .friendsOnline-2JkivW, .wrapper-1Rf91z .bar-30k2ka{
  opacity: 0;
  transition: opacity 200ms;
}
.wrapper-1Rf91z:hover .friendsOnline-2JkivW, .wrapper-1Rf91z:hover .bar-30k2ka{
  opacity: 1;
}

/* 'Home'-Container */
.wrapper-1Rf91z .container-1ETFDs, .wrapper-1Rf91z .container-1ETFDs a, .wrapper-1Rf91z .homeButton-2Cw51C{
  height: 15px;
  border-radius: 0;
}
.wrapper-1Rf91z .container-1ETFDs .wrapper-232cHJ{
  bottom: -4px;
}
.wrapper-1Rf91z .container-1ETFDs a::before{
  width: 50px;
  top: 4px;
  position: absolute;
  font-size: 12px;
  content: 'Home';
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
.wrapper-1Rf91z .container-1ETFDs svg{
  display: none;
}

.wrapper-1Rf91z .audio-2KA0-x::after, .wrapper-1Rf91z .video-2jNDI4:after /* Badge for when in voice and/or screensharing */ {
  height: 15px !important;
  width: 15px !important;
  background-color: transparent !important;
  left: -15px !important;
  top: -5px !important;
  transform: rotate(-90deg);
  transition: transform 200ms;
}

.wrapper-1Rf91z:hover .audio-2KA0-x::after, .wrapper-1Rf91z:hover .video-2jNDI4:after /* Badge for when in voice and/or screensharing on server hover */ {
  transform: rotate(0);
}
