:root{
    --INTModNewGuilds: '\A \2022  Guilds Wrapper 2.0 ~ Customa Devs (Chat \2192  guildsWrapper.m.css)';
}

.guildsWrapper-5TJh6A /* GuildsWrapper */{
    width: 20px;
    transition: width 200ms;
}

.guildsWrapper-5TJh6A:hover /* GuildsWrapper Hover Effect */{
    width: 80px;
}

.guilds-1q_RqH /* Scroller for GuildsWrapper */{
    padding-left: 20px;
}

.guilds-1q_RqH > .guild-1EfMGQ:first-child .guildInner-3DSoA4 a, .guilds-1q_RqH > .guild-1EfMGQ:first-child{
    height: 15px!important;
}

.guilds-1q_RqH > .guild-1EfMGQ:first-child .guildInner-3DSoA4, .guilds-1q_RqH > .guild-1EfMGQ:first-child::before /* Remove Home Guild, Remove Home Guild Selected */{
    visibility: hidden;
}

.guilds-1q_RqH > .guild-1EfMGQ:first-child .guildInner-3DSoA4 a::after /* Add own "Home" Select */{
    content: 'Home';
    display: inline;
    position: absolute;
    top: 0;
    left: 7px;
    font-size: 12px;
    visibility: visible!important;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    line-height: 130%;
    transition: color 200ms;
}

.guilds-1q_RqH > .guild-1EfMGQ.selected-ML3OIq:first-child .guildInner-3DSoA4 a::after, .guilds-1q_RqH > .guild-1EfMGQ:hover:first-child .guildInner-3DSoA4 a::after /* Color on Home Select and Hover */{
    color: var(--ColAccent)!important;
}

.guildsWrapper-5TJh6A .friendsOnline-_wi_fM /* How many friends are online */{
    opacity: 0;
    transition: opacity 200ms;
}

.guildsWrapper-5TJh6A:hover .friendsOnline-_wi_fM /* Hover Effect of above */{
    opacity: 1;
}

.guilds-1q_RqH > .guild-1EfMGQ.unread-qLkInr::before /* Unread Indicator */{
    width: 5px;
    height: 5px;
    left: -13px;
}

.guilds-1q_RqH > .guild-1EfMGQ.selected-ML3OIq::before, .guilds-1q_RqH > .guild-1EfMGQ.selected-ML3OIq.unread-1Dp-OI::before /* Selected Guild Indicator */{
    width: 5px;
    left: -13px;
    height: 40px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .badge-1GsMF2 /* Mention Badge */{
    left: -20px;
    width: 5px;
    background: none!important;
    color: var(--ColAccent)!important;
    font-weight: 300;
    border: 0;
    box-shadow: none;
}

.guild-1EfMGQ a div, .guild-1EfMGQ .guildInner-3DSoA4 a /* Reset Border Radius */{
    border-radius: 25px!important;
}

.guild-1EfMGQ a div[style*='background-image:'], .guild-1EfMGQ a[style*='background-image:'] {
    filter: grayscale(100%)!important;
    transition: filter 200ms!important;
}

.guild-1EfMGQ.selected-ML3OIq a div[style*='background-image:'], .guild-1EfMGQ:hover a div[style*='background-image:'], .guild-1EfMGQ:hover a[style*='background-image:']{
    filter: grayscale(0)!important;
}