:root {
  /* Do not change anything here unless you know what you are doing */
  --INTModMessageDividers: "    \2022  Message Dividers ~ Customa Devs (Chat \2192  messageDividers.m.css)\A"!important;
}

.message-2qnXI6 + .groupStart-23k01U {
  padding-top: 6px;
}

.message-2qnXI6 + .groupStart-23k01U::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 95%;
  left: 2.5%;
  background: var(--background-modifier-accent);
  top: -.5px;
}
