:root{
    --INTModNewDividerRed: '\2022  New Divider Red ~ Customa Devs (Chat \2192  newDividerRed.m.css)\A';
}

.dividerRed-MKoLlr span{
    border: 1px solid var(--ColAccent)!important;
    color: var(--ColAccent)!important;
}

.dividerRed-MKoLlr div{
    background-color: var(--ColAccent)!important;
    height: 2px!important;
}