:root{
    --INTModNewEditIcon: '\2022  New Edit Icon ~ Customa Devs (Chat \2192  newEditIcon.m.css)\A'!important;
    --INTVarNewEditIcon: '\A\A New Edit Icon - Module \A \2022  --ContentEditIcon \2192  Allowed Values: url(TO_ICON)'!important;
    --ContentEditIcon: url('https://raw.githack.com/Customa/Customa/master/Misc/Icons/EditDarkTheme.svg');
}

.edited-DL9ECl{
    font-size: 0;
    width: 13px!important;
    height: 13px!important;
    display: inline-block;
    background-image: var(--ContentEditIcon)!important;
    background-size: 100%;
    opacity: .5;
    line-height: 23px;
    margin-left: 5px;
}