:root{
    --INTModNewEditText: '\2022  New Edit Text ~ Customa Devs (Chat \2192  newEditText.m.css)\A';
    --INTVarNewEditText: '\A\A New Edit Text: \A \2022  --ContentEditText \2192  Allowed Values: Text';
    --ContentEditText: 'OwO, what was that';
}

.message-1PNnaP .container-206Blv .edited-DL9ECl {
    visibility: hidden;
    font-size: 0;
}

.message-1PNnaP .container-206Blv .edited-DL9ECl::after{
    visibility: visible!important;
    font-size: 0.625rem;
    width: fit-content!important;
    content: var(--ContentEditText)!important;
    margin-left: 5px;
}