:root {
    --INTModOldChannelSelect: '    \2022  Old Channel Select ~ Customa Devs (Chat \2192  oldChannelSelect.m.css)\A'!important;
}

.content-20Aix8 {
    margin-left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent) no-repeat;
    background-color: transparent !important;
    background-position: -240px;
    border-radius: 0;
    transition: background-position 0.2s;
}

.content-20Aix8:hover, .contentSelectedText-3wUhMi {
    background-position: 0;
}

.contentSelectedText-3wUhMi {
    border-left: 2.667px solid var(--ColAccent);
}
