:root{
    --INTModAdvancedScrollbar: '\2022  Advanced Scrollbar ~ Customa Devs (Webkit \2192  advancedScrollbar.m.css)\A'!important;
}

::-webkit-scrollbar{
    width: 3px!important;
    height: 3px!important;
    border-radius: 0!important;
    display: block;
}

::-webkit-scrollbar-track-piece{
    background-color: rgba(0,0,0,0)!important;
    border: none!important;
    box-shadow: none!important;
    border-radius: 0!important;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track{
    border-radius: 0!important;
    border: none!important;
} 

::-webkit-scrollbar-thumb{
    background-color: var(--ColAccent)!important;
    border-radius: 0!important;
}