:root {
  --INTModCustomPlaceholder: "    \2022  Custom Placeholder ~ Customa Devs (Webkit \2192  customPlaceholder.m.css)\A"!important;
  --INTVarCustomPlaceholder: "\A\A Custom Placeholer - Module \A \2022  --ContentCustomPlaceholder     \2192  Allowed Values: Text"!important;
  --ContentCustomPlaceholder: "Toot!"; /* mastodon time */
}

/* add the "placeholder" */
.placeholder-37qJjk::before {
  content: var(--ContentCustomPlaceholder);
  visibility: visible;
}

.placeholder-37qJjk {
  visibility: hidden;
}
