:root{
    --INTModPlaceholderRemover: '\2022  Placeholder Remover ~ Customa Devs (Webkit \2192  placeholderRemover.m.css)\A'!important;
}

::-webkit-input-placeholder {
    color: transparent!important;
}

textarea::-webkit-input-placeholder {
    color: transparent!important;
}