:root {
  --INTModCakeOSTitlebar: "    \2022  CakeOS Titlebar ~ Customa Devs (Titlebar \2192  cakeosTitlebar.m.css)\A"!important;
  /* stylelint-disable declaration-colon-newline-after */
  /* Has been done since multiline variables are not according to spec but R E A D A B I L I T Y */
  --INTVarCakeOSTitlebar: "\A\A CakeOS Titlebar - Module"
    "\A \2022  --ColCakeOSClose \2192  Allowed Values: Color (pref. #xxxxxx)"
    "\A \2022  --ColCakeOSCloseHover \2192  Allowed Values: Color (pref. #xxxxxx)"
    "\A \2022  --ColCakeOSMaximize \2192  Allowed Values: Color (pref. #xxxxxx)"
    "\A \2022  --ColCakeOSMaximizeHover \2192  Allowed Values: Color (pref. #xxxxxx)"
    "\A \2022  --ColCakeOSMinimize \2192  Allowed Values: Color (pref. #xxxxxx)"
    "\A \2022  --ColCakeOSMinimizeHover \2192  Allowed Values: Color (pref. #xxxxxx)"!important;
  /* stylelint-enable */
  --ColCakeOSClose: #fac0f2;
  --ColCakeOSCloseHover: #ff2851;
  --ColCakeOSMaximize: #c8ffe0;
  --ColCakeOSMaximizeHover: #3ecf8e;
  --ColCakeOSMinimize: #fff7d3;
  --ColCakeOSMinimizeHover: #f7a623;
}

.winButton-iRh8-Z {
  padding: 0 6px;
  background: transparent!important;
  opacity: 1;
}

.winButton-iRh8-Z svg > * {
  display: none;
}

.winButtonClose-1HsbF- svg {
  background-color: var(--ColCakeOSClose)!important;
  border: 1px solid var(--ColCakeOSCloseHover);
  border-radius: 50%;
  transition: background-color .2s;
}

.winButtonClose-1HsbF-:hover svg {
  background: var(--ColCakeOSCloseHover)!important;
}

.winButtonMinMax-PBQ2gm[aria-label="Maximise"] svg, .winButtonMinMax-PBQ2gm[aria-label="Maximize"] svg {
  background-color: var(--ColCakeOSMaximize)!important;
  border: 1px solid var(--ColCakeOSMaximizeHover);
  border-radius: 50%;
  transition: background-color .2s;
}

.winButtonMinMax-PBQ2gm[aria-label="Maximise"]:hover svg, .winButtonMinMax-PBQ2gm[aria-label="Maximize"]:hover svg {
  background: var(--ColCakeOSMaximizeHover)!important;
}

.winButtonMinMax-PBQ2gm[aria-label="Minimise"] svg, .winButtonMinMax-PBQ2gm[aria-label="Minimize"] svg {
  background-color: var(--ColCakeOSMinimize)!important;
  border: 1px solid var(--ColCakeOSMinimizeHover);
  border-radius: 50%;
  transition: background-color .2s;
}

.winButtonMinMax-PBQ2gm[aria-label="Minimise"]:hover svg, .winButtonMinMax-PBQ2gm[aria-label="Minimize"]:hover svg {
  background: var(--ColCakeOSMinimizeHover)!important;
}
