:root{
  --INTModChannelDivider: '    \2022  Channel Divider ~ Customa Devs (Sidebar \2192  channelDivider.m.css)\A'!important;
}

.container-PNkimc .scroller-2FKFPG .containerDefault-3GGEv_ .wrapper-CU3qI5 *{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff!important;
  opacity: 0.3;
  transition: .2s opacity ease-in-out!important;
}

.container-PNkimc .scroller-2FKFPG .containerDefault-3GGEv_ .wrapper-CU3qI5:hover *{
  opacity: 0.8;
}

.container-PNkimc .scroller-2FKFPG .containerDefault-3GGEv_ .wrapper-CU3qI5 .name-IbjUBS::before, .container-PNkimc .scroller-2FKFPG .containerDefault-3GGEv_ .wrapper-CU3qI5 .name-IbjUBS::after{
  content: "";
  width: 100%;
  vertical-align: middle;
  height: 1px;
  background: #eee;
  display: inline-block;
  margin: 0 5px;
}

.container-PNkimc .scroller-2FKFPG .containerDefault-3GGEv_:first-child{
  padding: 2%;
  padding-top: 8%;
}
