:root {
  --INTModChannelDivider: "    \2022  Channel Divider ~ Customa Devs (Sidebar \2192  channelDivider.m.css)\A"!important;
}

.container-3w7J-x .scroller-RmtA4e .containerDefault-3tr_sE .wrapper-PY0fhH * {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--ColFont)!important;
  opacity: .3;
  transition: .2s opacity ease-in-out!important;
}

.container-3w7J-x .scroller-RmtA4e .containerDefault-3tr_sE .wrapper-PY0fhH:hover * {
  opacity: .8;
}

.container-3w7J-x .scroller-RmtA4e .containerDefault-3tr_sE .wrapper-PY0fhH .name-3l27Hl::before,
.container-3w7J-x .scroller-RmtA4e .containerDefault-3tr_sE .wrapper-PY0fhH .name-3l27Hl::after {
  content: "";
  width: 100%;
  vertical-align: middle;
  height: 1px;
  background: var(--ColFont);
  display: inline-block;
  margin: 0 5px;
}
