:root {
  --INTModClassicChannelSelect: "    \2022  Classic Channel Select ~ Customa Devs (Sidebar \2192  classicChannelSelect.m.css)\A"!important;
}

.containerDefault--pIXnN .iconVisibility-sTNpHs.wrapper-2jXpOf .content-1x5b-n /* Server Channel */, .channel-2QD9_O /* Private Channel */ {
  margin-left: 0;
  background: linear-gradient(to right, var(--ColTransparent2), transparent) no-repeat;
  background-color: transparent!important;
  background-position: -240px;
  border-radius: 0;
  transition: background-position .2s;
  border-left: 2.667px solid transparent;
  max-width: unset;
}

.channel-2QD9_O .layout-2DM8Md {
  background-color: transparent!important;
}

.unread-2lAfLh {
  z-index: 999;
}

.containerDefault--pIXnN:hover .iconVisibility-sTNpHs.wrapper-2jXpOf .content-1x5b-n /* Server Channel Hover Effect */,
.containerDefault--pIXnN.selected-3LIHYU .iconVisibility-sTNpHs.wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n /* Server Channel Select Effect */,
.channel-2QD9_O:hover /* Private Channel Hover Effect */, .channel-2QD9_O.selected-aXhQR6 /* Private Channel Select Effect */ {
  background-position: -2px;
  border-left-color: var(--ColTransparent1);
}

.containerDefault--pIXnN.selected-3LIHYU .iconVisibility-sTNpHs.wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n /* Server Channel Select Effect */,
.channel-2QD9_O.selected-aXhQR6 /* Private Channel Select Effect */ {
  border-left-color: var(--ColAccent)!important;
}
