:root{
    --INTModNewPlaying: '\2022  New Playing Messages ~ Customa Devs (Sidebar \2192  newPlaying.m.css)\A'!important;
}

.channel-activity-text, .friend-activity-text{
    visibility:hidden;
    letter-spacing:-10px;
}

.channel-activity-text strong, .friend-activity-text strong{
    visibility:visible;
    letter-spacing:0;
}

.channel-activity-text strong:before, .friend-activity-text strong:before{
    content:"\1F3AE  ";
    -webkit-filter:brightness(1000%);
}