:root{
    --INTModNewUserPopout: '\2022  New User Popout ~ Customa Devs (Sidebar \2192  newUserPopout.m.css)\A';
}

[class*='userPopout'] [class*='avatarWrapper'] [class*='avatarStatus'] {
    visibility: visible!important;
    z-index: -1!important;
    border-radius: 0!important;
    width: 250px!important;
    height: 430px!important;
    top: -22px!important;
    border: none!important;
    left: -80px!important;
    -webkit-filter: brightness(90%)!important;
    box-shadow: 0 0 0 2.4px rgba(255, 255, 255, .42);
}

[class*='userPopout']{
    background-color: transparent!important;
}

[class*='userPopout'] [class*='activityUserPopout'] [class*='body']{
    background: transparent!important;
}

[class*='userPopout'] .header-3budic{
    border: none!important;
    box-shadow: none!important;
    background: none!important;
}

[class*='userPopout'] [class*='headerStreaming'] {
    background-color: #593695!important;
    box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, .1);
}

[class*='userPopout'] {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .5)!important;
}

[class*='userPopout'] [class*='headerText'] [class*='botTag'] {
    background-color: rgba(0, 0, 0, .2)!important;
    color: white!important;
}

[class*='userPopout'] [class*='headerText'] * {
    color: #fff!important;
}

[class*='userPopout'] [class*='headerText'] [class*='headerName'] {
    font-size: 20px!important;
    line-height: 27px!important;
}

[class*='userPopout'] [class*='body'], [class*='userPopout'] [class*='footer']{
    background-color: var(--Color__MainColor1)!important;
}