:root{
    --INTModNewUserPopout: '\2022  New User Popout ~ Customa Devs (Sidebar \2192  newUserPopout.m.css)\A';
}

.userPopout-3XzG_A .avatarWrapper-3H_478 .avatarStatus-3Ay1VL {
    visibility: visible!important;
    z-index: -1!important;
    border-radius: 0!important;
    width: 250px!important;
    height: 430px!important;
    top: -22px!important;
    border: none!important;
    box-shadow: none;
    left: -80px!important;
    -webkit-filter: brightness(90%)!important;
}

.userPopout-3XzG_A .activity-11LB_k{
    background: none!important
}

.userPopout-3XzG_A  .headerStreaming-2FjmGz{
    background-color: #593695!important;
    box-shadow: none;
}

.userPopout-3XzG_A .headerStreaming-2FjmGz .button-1Pkqso.button-38aScr.lookOutlined-3sRXeN.colorWhite-rEQuAQ.sizeSmall-2cSMqn.grow-q77ONN{
    background-color: rgba(0, 0, 0, .2)!important;
}

.userPopout-3XzG_A .body-3iLsc4{
    background-color: var(--ColBackground1)!important;
}