:root{
    --INTModSidebarMods: '\2022  SidebarMods ~ Customa Devs (Sidebar \2192  sidebarModifier.m.css)\A';
}

.membersWrap-2h-GB4{
    width: 20px!important;
    min-width: 20px;
    transition: width 200ms;
}

.membersWrap-2h-GB4:hover{
    width: 240px!important;
}