:root{
    --INTModStatusCircles: '\2022  Status Circles ~ Customa Devs (Sidebar \2192  statusCircles.m.css)\A';
}

[class*='avatar'] [class*='status']:not([class*='statusProfile']){
    width: calc(100% + 4px) !important;
    height: calc(100% + 4px) !important;
    background: transparent !important;
    border-radius: 50% !important;
    top: -4px !important;
    left: -4px !important;
    border: 2px solid transparent !important;
}

[class*='avatar']:not([class*='statusProfile']) [class*='Online'], [class*='avatar']:not([class*='statusProfile']) [class*='online']{
    border-left-color: #43b581 !important;
}

[class*='avatar']:not([class*='statusProfile']) [class*='Idle'], [class*='avatar']:not([class*='statusProfile']) [class*='idle']{
    border-left-color: #faa61a !important;
}

[class*='avatar']:not([class*='statusProfile']) [class*='Dnd'], [class*='avatar']:not([class*='statusProfile']) [class*='dnd']{
    border-left-color: #F44336 !important;
}

[class*='avatar']:not([class*='statusProfile']) [class*='Streaming'], [class*='avatar']:not([class*='statusProfile']) [class*='streaming'] {
    border-left-color: #643da7 !important;
}

[class*='avatar']:not([class*='statusProfile']) [class*='Offline'], [class*='avatar']:not([class*='statusProfile']) [class*='offline'],
[class*='avatar']:not([class*='statusProfile']) [class*='Invisible'], [class*='avatar']:not([class*='statusProfile']) [class*='invisible']{
    border-left-color: #747f8d !important;
}

[class*='avatar']:not([class*='statusProfile']) [class*='Typing'] [class*='spinner'], [class*='avatar']:not([class*='statusProfile']) [class*='typing'] [class*='spinner']{
    animation-name: typing-animation!important;
    animation-duration: 1s!important;
    animation-iteration-count: infinite!important; 
    animation-direction: alternate!important;
    margin-top: 1px !important;
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
}

@-webkit-keyframes typing-animation {
    from{
        background-color: rgba(0,0,0,0);
    }to{
        background-color: rgba(0,0,0,0.7);
    }
}
@keyframes typing-animation {
    from{
        background-color: rgba(0,0,0,0);
    }to{
        background-color: rgba(0,0,0,0.7);
    }
}