:root {
  --INTModWrapperChannel: "    \2022  Channel Wrapper ~ Customa Devs (Sidebar \2192  wrapperChannel.m.css)\A"!important;
  /* stylelint-disable */
  /* Has been done since multiline variables are not according to spec but R E A D A B I L I T Y */
  --INTVarWrapperChannel: "\A\A Channel Wrapper - Module"
    "\A \2022  --WidthChannelMin \2192  Allowed Values: XYpx (pref. 46px)"
    "\A \2022  --WidthChannelMax \2192  Allowed Values: XYpx (pref. 240px)"
    "\A \2022  --DurationWrapperChannel \2192  Allowed Values: Time [in s or ms] (pref. 200ms)"
    "\A \2022  --DelayWrapperOpen \2192  Allowed Values: Time [in s or ms] (pref. 200ms)"
    "\A \2022  --DelayWrapperClose \2192  Allowed Values: Time [in s or ms] (pref. 200ms)"!important;
  /* stylelint-enable */
  --WidthChannelMax: 240px;
  --WidthChannelMin: 48px;
  --DurationWrapperChannel: 200ms;
  --DelayWrapperOpen: 0ms;
  --DelayWrapperClose: 0ms;
}

/* Basic movement */
.chat-3bRxxu /* Move Chat over Sidebar */, .container-1D34oG /* Friend */, .container-3Mxszk /* Game Library */, .applicationStore-1pNvnv /* Nitro Store */ {
  transform: translateX(calc(var(--WidthChannelMin) - var(--WidthChannelMax)));
  z-index: 2;
  min-width: calc(100% - var(--WidthChannelMin));
  transition: all var(--DurationWrapperChannel) var(--DelayWrapperClose);
  border-left: 3px solid var(--ColBackground1);
}

.sidebar-2K8pFh /* Set Sidebar below Chat */ {
  z-index: 1;
}

.sidebar-2K8pFh:hover + .chat-3bRxxu /* Move Chat away on Hover */, .sidebar-2K8pFh:hover + .container-1D34oG /* Friend */, .sidebar-2K8pFh:hover + .container-3Mxszk
/* Game Library */, .sidebar-2K8pFh:hover + .applicationStore-1pNvnv /* Nitro Store */ {
  transform: translateX(0);
  transition: all var(--DurationWrapperChannel) var(--DelayWrapperOpen);
  border-width: 0;
}

/* Sidebar unhovered - DM */
.privateChannelsHeaderContainer-3NB1K1 {
  transform: translateX(-195px);
  transition: transform var(--DurationWrapperChannel);
}

.channel-2QD9_O {
  margin-left: 0;
  transition: margin var(--DurationWrapperChannel);
}

.channel-2QD9_O .layout-2DM8Md {
  border-radius: 0;
  padding-left: 6px;
  transition: all var(--DurationWrapperChannel);
}

/* Sidebar hovered - DM */
.sidebar-2K8pFh:hover .privateChannelsHeaderContainer-3NB1K1 {
  transform: translateX(0);
}

.sidebar-2K8pFh:hover .channel-2QD9_O {
  margin-left: 8px;
}

.sidebar-2K8pFh:hover .channel-2QD9_O .layout-2DM8Md {
  padding-left: 8px;
  border-radius: 4px;
}

/* Sidebar unhovered - Guild */
.containerDefault-1ZnADq .content-3at_AU {
  margin-left: 0;
  margin-right: 8px;
  border-radius: 0;
  padding-left: 15px;
  transition: margin var(--DurationWrapperChannel), border-radius var(--DurationWrapperChannel), padding-left var(--DurationWrapperChannel);
}

.containerDefault-1ZnADq .content-3at_AU .icon-1_QxNX {
  margin-right: 13px;
  transition: margin var(--DurationWrapperChannel);
}

.container-35XQWE {
  width: calc(var(--WidthChannelMin) - 16px);
  transition: width var(--DurationWrapperChannel);
}

.container-35XQWE span {
  opacity: 0;
  transition: opacity var(--DurationWrapperChannel);
}

.unread-3zKkbm + .content-3at_AU, .containerDefault-1ZnADq:hover .unread-3zKkbm + .content-3at_AU {
  background-color: var(--ColAccent);
}

.containerDefault-1ZnADq .unread-3zKkbm + .content-3at_AU svg {
  color: var(--ColFont);
}

.unread-3zKkbm {
  display: none;
}

.containerDefault-3GGEv_ .name-IbjUBS {
  display: none;
}

.containerDefault-3GGEv_ .children-13TY0l {
  margin-left: 10px;
}

.container-3baos1 {
  padding-left: 6px;
  transition: padding var(--DurationWrapperChannel);
  transition-delay: 0ms;
}

.container-3baos1 .avatarWrapper-2yR4wp {
  margin-right: 12px;
  transition: margin var(--DurationWrapperChannel);
  transition-delay: 0ms;
}

.actionButtons-14eAc_ {
  display: block;
}

.actionButtons-14eAc_ button {
  margin-bottom: 5px;
  width: 38px;
  min-width: 0;
  padding: 0 10px;
  transition: width var(--DurationWrapperChannel);
}

.container-1giJp5 {
  padding-left: 4px;
}

.ping-2NgC8E {
  width: 40px;
  transition: width var(--DurationWrapperChannel);
}

.container-1giJp5 .subtext-3CDbHg {
  transform: translateX(-200px);
  transition: transform var(--DurationWrapperChannel);
}

.list-2bwCXU {
  padding-left: 4px;
  transition: padding var(--DurationWrapperChannel);
}

.listDefault-2y5Z9D .avatarContainer-2inGBK {
  margin-right: 12px;
  transition: margin var(--DurationWrapperChannel);
}

.guildIconContainer-E1JUVt, .name-3YKhmS {
  opacity: 0;
  transition: opacity var(--DurationWrapperChannel);
}

.powercord-guild-badge {
  margin-left: 4px;
  transition: margin var(--DurationWrapperChannel);
}

/* Sidebar hovered - Guild */
.sidebar-2K8pFh:hover .containerDefault-1ZnADq .content-3at_AU {
  margin-left: 8px;
  border-radius: 4px;
  padding-left: 8px;
}

.sidebar-2K8pFh:hover .containerDefault-1ZnADq .content-3at_AU .icon-1_QxNX {
  margin-right: 6px;
}

.sidebar-2K8pFh:hover .container-35XQWE {
  width: calc(var(--WidthChannelMax) - 16px);
}

.sidebar-2K8pFh:hover .container-35XQWE span {
  opacity: 1;
  transition: opacity var(--DurationWrapperChannel) var(--DurationWrapperChannel);
}

.sidebar-2K8pFh:hover .containerDefault-3GGEv_ .name-IbjUBS {
  display: block;
}

.sidebar-2K8pFh:hover .container-3baos1 {
  padding-left: 8px;
}

.sidebar-2K8pFh:hover .container-3baos1 .avatarWrapper-2yR4wp {
  margin-right: 8px;
}

.sidebar-2K8pFh:hover .container-1giJp5 .subtext-3CDbHg {
  transform: translateX(0);
}

.sidebar-2K8pFh:hover .actionButtons-14eAc_ button {
  width: 100%;
}

.sidebar-2K8pFh:hover .ping-2NgC8E {
  width: 16px;
}

.sidebar-2K8pFh:hover .list-2bwCXU {
  padding-left: 36px;
}

.sidebar-2K8pFh:hover .listDefault-2y5Z9D .avatarContainer-2inGBK {
  margin-right: 12px;
}

.sidebar-2K8pFh:hover .guildIconContainer-E1JUVt, .sidebar-2K8pFh:hover .name-3YKhmS {
  opacity: 1;
}

.sidebar-2K8pFh:hover .powercord-guild-badge {
  margin-left: 0;
}

/* Other effects */
.spotify-seek-bar /* Move Spotify Progress down so it isn't blocked by the typing indicator */ {
  width: var(--WidthChannelMin);
  transition: all var(--DurationWrapperChannel)!important;
}

.sidebar-2K8pFh:hover .spotify-seek-bar {
  width: var(--WidthChannelMax);
}

.listeningAlong-30wH70 .party-2cIOyb {
  order: 1;
  flex-grow: 0;
  margin-left: -6px;
  margin-right: 10px;
}

.listeningAlong-30wH70 > div:first-child {
  order: 2;
  flex-grow: 40;
}

.listeningAlong-30wH70 .icons-2uekgw {
  order: 3;
  flex-grow: 0;
}
