:root{
    --INTModWrapperMember: '    \2022  Member Wrapper ~ Customa Devs (Sidebar \2192  wrapperMember.m.css)\A'!important;
    --INTVarWrapperMember: '\A\A Member Wrapper - Module\A \2022  --WidthSidebarMin \2192  Allowed Values: XYpx (pref. 65px)\A \2022  --WidthSidebarMax \2192  Allowed Values: XYpx (pref. 240px)\A \2022  --DurationWrapperMember \2192  Allowed Values: Time [in s or ms] (pref. 200ms)'!important;
    --WidthSidebarMin: 65px;
    --WidthSidebarMax: 240px;
    --DurationWrapperMember: 200ms;
}

.membersWrap-2h-GB4{
    min-width: var(--WidthSidebarMin);
    width: var(--WidthSidebarMin);
    transition: width 200ms;
    height: calc(100% - 48px);
    /* Smoothen Transition */
    position: absolute;
    right: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.membersWrap-2h-GB4:hover {
    width: var(--WidthSidebarMax)!important;
    margin-left: var(--WidthSidebarMax)!important;
}

/* hide elements */
.memberInner-2CPc3V{ 
    opacity: 0; 
    transition: opacity var(--DurationWrapperMember); 
}

/* show elements */
.membersWrap-2h-GB4:hover .memberInner-2CPc3V { 
    opacity: 1; 
}

/* Move Edit/Emoji out of the way */

.buttonContainer-KtQ8wc, .buttons-205you{
    margin-right: var(--WidthSidebarMin);
}