:root {
  --INTModWrapperGuild: "    \2022  Guild Wrapper ~ Customa Devs (Sidebar \2192  wrapperGuild.m.css)\A"!important;
  /* stylelint-disable */
  /* Has been done since multiline variables are not according to spec but R E A D A B I L I T Y */
  --INTVarWrapperGuild: "\A\A Guild Wrapper - Module"
    "\A \2022  --DurationWrapperGuild \2192  Allowed Values: Time [in s or ms] (pref. 200ms)"
    "\A \2022  --FilterNoHover \2192  Allowed Values: CSS Filter (pref. grayscale(100%))"
    "\A \2022  --FilterHover \2192  Allowed Values: CSS Filter (pref. grayscale(0%))"!important;
  /* stylelint-enable */
  --FilterNoHover: grayscale(100%);
  --FilterHover: grayscale(0%);
  --DurationWrapperGuild: 200ms;
}

.wrapper-1Rf91z /* GuildsWrapper */ {
  width: 76px;
}

.base-3dtUhz {
  transform: translateX(0);
  left: 16px;
  transition: all 400ms;
}

.wrapper-1Rf91z:hover + .base-3dtUhz {
  transform: translateX(60px);
}

.powercord .listItem-2P_4kh svg:not(.icon-3s6X1M) /* Set Filter when server is not hovered */ {
  filter: var(--FilterNoHover);
  transition: filter 200ms;
}

.powercord .listItem-2P_4kh.selected svg, .powercord .listItem-2P_4kh:hover svg, .powercord .listItem-2P_4kh a.selected-bZ3Lue, 
.powercord .guilds-1SWlCJ .scroller-2TZvBN > div:not([data-ref-id="guildsnav"]) > .listItem-2P_4kh svg,
.powercord div[data-ref-id="guildsnav"] ~ .listItem-2P_4kh svg /* Set Filter when server is hovered */ {
  filter: var(--FilterHover);
}

.wrapper-1Rf91z .scroller-2TZvBN /* Move Scroller to left to move guilds out of view */ {
  padding-left: 5px;
}

.wrapper-1Rf91z .listItem-2P_4kh img, .wrapper-1Rf91z .listItem-2P_4kh .acronym-2mOFsV, .wrapper-1Rf91z .listItem-2P_4kh .button-OhfaWu, .wrapper-1Rf91z .listItem-2P_4kh 
.circleIconButton-jET_ig /* Disable Animation on Hover/Select */ {
  border-radius: 25px!important;
}

.wrapper-1Rf91z .listItem-2P_4kh mask /* Disable Animation on Hover/Select */ {
  display: none;
}

.wrapper-1Rf91z .listItem-2P_4kh .iconBadge-2NuvG9.participating-NBGDkr {
  color: var(--ColAccent);
}

.wrapper-1Rf91z .tutorialContainer-1v44GL .listItem-2P_4kh .listItemWrapper-3X98Pc svg a .childWrapper-anI2G9, 
.wrapper-1Rf91z .tutorialContainer-1v44GL .listItem-2P_4kh .pill-2uzAFe /* Remove Home Guild, Remove Home Guild Selected */ {
  visibility: hidden;
}

.wrapper-1Rf91z .tutorialContainer-1v44GL .listItem-2P_4kh /* Make first guild small */ {
  height: 18px;
}

.wrapper-1Rf91z .tutorialContainer-1v44GL .listItem-2P_4kh .listItemWrapper-3X98Pc svg a::after /* Add own "Home" Select */ {
  content: "Home";
  color: var(--ColFont);
  position: absolute;
  top: 3px;
  left: 7px;
  font-size: 12px;
  visibility: visible!important;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  line-height: 130%;
  transition: color var(--DurationGuildsWrapper);
}

.wrapper-1Rf91z .tutorialContainer-1v44GL .listItem-2P_4kh:hover .listItemWrapper-3X98Pc svg a::after,
.wrapper-1Rf91z .tutorialContainer-1v44GL .listItem-2P_4kh .listItemWrapper-3X98Pc svg a.selected-bZ3Lue::after {
  color: var(--ColAccent);
}

.wrapper-1Rf91z > div > div > .listItem-2P_4kh:nth-child(2) /* Remove Seperator between Home and Guilds */ {
  display: none;
}

.wrapper-1Rf91z .listItem-2P_4kh div[class^="pill"] .item-2hkk8m {
  width: 5px;
  border-radius: 4px;
  margin-left: 1px!important;
  transform: none!important;
}

.wrapper-1Rf91z .listItem-2P_4kh div[class^="pill"] .item-2hkk8m[style*="height: 8"], .wrapper-1Rf91z .listItem-2P_4kh div[class^="pill"] .item-2hkk8m[style*="height: 7"] {
  height: 5px!important;
}

.wrapper-1Rf91z .listItem-2P_4kh div[class^="pill"] .item-2hkk8m:not([style*="opacity: 0;"]) {
  opacity: 1!important;
}

.wrapper-1Rf91z .listItem-2P_4kh .wrapper-25eVIn .lowerBadge-29hYVK > * /* Ping Notification */ {
  background-color: transparent!important;
  color: var(--ColAccent)!important;
  position: absolute;
  right: 49px!important;
  bottom: -12px!important;
  box-shadow: none!important;
}

.wrapper-1Rf91z .listItem-2P_4kh .wrapper-25eVIn .upperBadge-2XnnGB > * /* Every other Notification */ {
  background-color: transparent!important;
  right: 48px!important;
  position: absolute;
  top: -12px!important;
}

.wrapper-1Rf91z .tutorialContainer-1v44GL .listItem-2P_4kh .wrapper-25eVIn .lowerBadge-29hYVK > * /* Friend Notification */ {
  bottom: 29.5px!important;
}

.wrapper-1Rf91z [class^="unreadMentionsIndicator"] .bar-30k2ka {
  width: 12px;
  height: 12px;
  transition: width 200ms, height 200ms 200ms;
}

/* Hide non active bar */
.wrapper-1Rf91z .unreadMentionsIndicatorBottom-BXS58x .bar-30k2ka:not(.mention-1f5kbO) {
  padding-top: 8px!important;
}

/* Unread Mentions Indicator */
.wrapper-1Rf91z [class^="unreadMentionsIndicator"] {
  padding-left: 2px;
  transition: padding 200ms 200ms;
}

.wrapper-1Rf91z:hover [class^="unreadMentionsIndicator"] {
  padding-left: 8px;
}

.wrapper-1Rf91z:hover [class^="unreadMentionsIndicator"] .bar-30k2ka {
  width: 54px;
  height: 24px;
  transition: width 200ms 400ms, height 200ms 200ms;
}

.wrapper-1Rf91z [class^="unreadMentionsIndicator"] .bar-30k2ka span {
  opacity: 0;
  transition: opacity 200ms;
}

.wrapper-1Rf91z:hover [class^="unreadMentionsIndicator"] .bar-30k2ka span {
  opacity: 1;
  transition: opacity 200ms 400ms;
}
