:root {
  --INTModWrapperMember: "    \2022  Member Wrapper ~ Customa Devs (Sidebar \2192  wrapperMember.m.css)\A"!important;
  /* stylelint-disable */
  /* Has been done since multiline variables are not according to spec but R E A D A B I L I T Y */
  --INTVarWrapperMember: "\A\A Member Wrapper - Module"
    "\A \2022  --WidthSidebarMin \2192  Allowed Values: XYpx (pref. 65px)"
    "\A \2022  --WidthSidebarMax \2192  Allowed Values: XYpx (pref. 240px)"
    "\A \2022  --DurationWrapperMember \2192  Allowed Values: Time [in s or ms] (pref. 200ms)"!important;
  /* stylelint-enable */
  --WidthSidebarMin: 60px;
  --WidthSidebarMax: 240px;
  --DurationWrapperMember: 200ms;
}

.membersWrap-2h-GB4 {
  transition: transform var(--DurationWrapperMember);
  right: 0;
  z-index: 999;
}

.chatContent-a9vAAp {
  min-width: calc(100% - var(--WidthSidebarMin));
}

.membersWrap-2h-GB4:hover {
  transform: translateX(calc((var(--WidthSidebarMax) * -1) + var(--WidthSidebarMin)));
  min-width: var(--WidthSidebarMax);
}

.members-1998pB {
  width: var(--WidthSidebarMax);
}

.member-3-YXUe {
  max-width: calc(var(--WidthSidebarMax) - 16px);
}

.searchResultsWrap-3-pOjs {
  transform: translateX(-350px);
  height: calc(100% - 52px);
  overflow: visible;
}

.searchResultsWrap-3-pOjs::after {
  content: "";
  background-color: var(--ColBackground1);
  right: 0;
  position: absolute;
  display: block;
  bottom: -52px;
  height: 52px;
  width: 70px;
}
