:root {
  --INTModWrapperGuild: "    \2022  Guild Wrapper ~ Customa Devs (Sidebar \2192  wrapperGuild.m.css)\A"!important;
  /* stylelint-disable declaration-colon-newline-after */
  /* Has been done since multiline variables are not according to spec but R E A D A B I L I T Y */
  --INTVarWrapperGuild: "\A\A Guild Wrapper - Module"
    "\A \2022  --DurationWrapperGuild \2192  Allowed Values: Time [in s or ms] (pref. 200ms)"
    "\A \2022  --FilterNoHover \2192  Allowed Values: CSS Filter (pref. grayscale(100%))"
    "\A \2022  --FilterHover \2192  Allowed Values: CSS Filter (pref. grayscale(0%))"!important;
  /* stylelint-enable */
  --FilterNoHover: grayscale(100%);
  --FilterHover: grayscale(0%);
  --DurationWrapperGuild: 200ms;

  --width-guild-open: 76px;
}

.wrapper-3NnKdC /* GuildsWrapper */ {
  width: var(--width-guild-open);
}

.base-3dtUhz {
  transform: translateX(0);
  left: 16px;
  transition: all 400ms;
}

.wrapper-3NnKdC:hover + .base-3dtUhz {
  transform: translateX(60px);
}

.powercord .listItem-GuPuDH svg:not(.icon-3s6X1M) /* Set Filter when server is not hovered */ {
  filter: var(--FilterNoHover);
  transition: filter 200ms;
}

.powercord .listItem-GuPuDH.selected svg, .powercord .listItem-GuPuDH:hover svg, .powercord .listItem-GuPuDH a.selected-bZ3Lue,
.powercord .guilds-1SWlCJ .scroller-1Bvpku > div:not([data-ref-id="guildsnav"]) > .listItem-GuPuDH svg,
.powercord div[data-ref-id="guildsnav"] ~ .listItem-GuPuDH svg /* Set Filter when server is hovered */ {
  filter: var(--FilterHover);
}

.wrapper-3NnKdC .scroller-1Bvpku /* Move Scroller to left to move guilds out of view */ {
  padding-left: 5px;
}

.wrapper-3NnKdC .listItem-GuPuDH img, .wrapper-3NnKdC .listItem-GuPuDH .acronym-2mOFsV, .wrapper-3NnKdC .listItem-GuPuDH .folder-1hbNCn, .wrapper-3NnKdC .listItem-GuPuDH
.circleIconButton-1QV--U /* Disable Animation on Hover/Select */ {
  border-radius: 25px!important;
}

.wrapper-3NnKdC .listItem-GuPuDH mask /* Disable Animation on Hover/Select */ {
  display: none;
}

.wrapper-3NnKdC .listItem-GuPuDH .iconBadge-2NuvG9.participating-1NvRVd {
  color: var(--ColAccent);
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-KhRmzM svg .wrapper-1BJsBx .childWrapper-anI2G9,
.tutorialContainer-2sGCg9 .listItem-GuPuDH .pill-3N7f9r /* Remove Home Guild, Remove Home Guild Selected */ {
  visibility: hidden;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH /* Make first guild small */ {
  height: 18px;
  margin: 0;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-KhRmzM svg .wrapper-1BJsBx::after /* Add own "Home" Select */ {
  content: "Home";
  color: var(--ColFont);
  position: absolute;
  top: 3px;
  left: 7px;
  font-size: 12px;
  visibility: visible!important;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  line-height: 130%;
  transition: color var(--DurationGuildsWrapper);
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH:hover .listItemWrapper-KhRmzM svg .wrapper-1BJsBx::after,
.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-KhRmzM svg .wrapper-1BJsBx.selected-bZ3Lue::after {
  color: var(--ColAccent);
}

.guildSeparator-33mFX6 /* Remove Seperator between Home and Guilds */ {
  display: none;
}

.wrapper-3NnKdC .listItem-GuPuDH div[class^="pill"] .item-2hkk8m {
  width: 5px;
  border-radius: 4px;
  margin-left: 1px!important;
  transform: none!important;
}

.wrapper-3NnKdC .listItem-GuPuDH div[class^="pill"] .item-2hkk8m[style*="height: 8"], .wrapper-3NnKdC .listItem-GuPuDH div[class^="pill"] .item-2hkk8m[style*="height: 7"] {
  height: 5px!important;
}

.wrapper-3NnKdC .listItem-GuPuDH div[class^="pill"] .item-2hkk8m:not([style*="opacity: 0;"]) {
  opacity: 1!important;
}

.wrapper-3NnKdC .listItem-GuPuDH .wrapper-25eVIn .lowerBadge-29hYVK > * /* Ping Notification */ {
  background-color: transparent!important;
  color: var(--ColAccent)!important;
  position: absolute;
  right: 49px!important;
  bottom: -12px!important;
  box-shadow: none!important;
}

.wrapper-3NnKdC .listItem-GuPuDH .wrapper-25eVIn .upperBadge-2XnnGB > * /* Every other Notification */ {
  background-color: transparent!important;
  right: 48px!important;
  position: absolute;
  top: -12px!important;
}

.wrapper-3NnKdC .tutorialContainer-2sGCg9 .listItem-GuPuDH .wrapper-25eVIn .lowerBadge-29hYVK > * /* Friend Notification */ {
  bottom: 29.5px!important;
}

.wrapper-3NnKdC [class^="unreadMentionsIndicator"] .bar-30k2ka {
  width: 12px;
  height: 12px;
  transition: width 200ms, height 200ms 200ms;
}

/* Hide non active bar */
.wrapper-3NnKdC .unreadMentionsIndicatorBottom-BXS58x .bar-30k2ka:not(.mention-1f5kbO) {
  padding-top: 8px!important;
}

/* Unread Mentions Indicator */
.wrapper-3NnKdC [class^="unreadMentionsIndicator"] {
  padding-left: 2px;
  transition: padding 200ms 200ms;
}

.wrapper-3NnKdC:hover [class^="unreadMentionsIndicator"] {
  padding-left: 8px;
}

.wrapper-3NnKdC:hover [class^="unreadMentionsIndicator"] .bar-30k2ka {
  width: 54px;
  height: 24px;
  transition: width 200ms 400ms, height 200ms 200ms;
}

.wrapper-3NnKdC [class^="unreadMentionsIndicator"] .bar-30k2ka span {
  opacity: 0;
  transition: opacity 200ms;
}

.wrapper-3NnKdC:hover [class^="unreadMentionsIndicator"] .bar-30k2ka span {
  opacity: 1;
  transition: opacity 200ms 400ms;
}

.wrapper-21YSNc::before {
  transform: translateX(5px);
  transition: transform 200ms;
}

.wrapper-3NnKdC:hover .wrapper-21YSNc::before {
  transform: translateX(0);
}

.guilds-1swlcj:hover + .base-3dtUhz .slateTextArea-1Mkdgw {
  max-width: calc(100% - var(--width-channel-closed) - var(--width-guild-open));
}
