/* App Mount - Base Element: Used for background image or color */
#app-mount{
    background: #161616;
}

/* Pretty much only all the elements adding additional background colors, all disabled, to make the shared background work */
.layers-3iHuyZ, .layer-3QrUeG, .layer-3QrUeG .flex-1xMQg5, .chat-3bRxxu, .content-yTz4x3, .chat-3bRxxu form /* Main Form Element in the main chat window */, .channelTextArea-1LDbYG .inner-zqa7da, .members-1998pB /* Server Member Bar */, .menu-Sp6bN1, .messagesPopoutWrap-1MQ1bW, .searchPopout-1vUlP3, .emojiPicker-3m1S-j, .container-3cGP6G, .popout-3sVMXz .contextMenu-HLZMGh /* Inner Popout Selectors to unify colors */ , .emojiPicker-3m1S-j .category-2U57w6 /* Categories of Emoji Picker */, .dimmer-3iH-5D.visible-3k45bQ /* Emoji Selector Dimmer - When opening diversity selector */, .userPopout-3XzG_A .body-3iLsc4, .userPopout-3XzG_A .header-2BwW8b /* User Popout Header & Body */, .searchBar-2_Yu-C /* Reset Searchbar */, .hasMore-3e72_v button /* Button when top of chat is reached */, .actionButtons-1sUUug, .action-buttons /* Action Buttons in the message Popouts and the search */, .searchAnswer-3Dz2-q /* What the filter searches for */, .search-results-wrap /* Main Wrapper for search */, .channel-separator span /* Channel seperator Search */{
    background: transparent!important;
}


.guildsWrapper-5TJh6A /* Guilds Wrapper */, .private-channels .searchBar-2_Yu-C, .container-2Rl01u /* Search bar(s) for DM + Container in Servers for Server name */, .container-2Thooq /* User Container Channel Bar */, .popout-3sVMXz, .popout-2nUePc, .modal-3HD5ck /* Main Popout & Modal Class(es) */, .emojiPicker-3m1S-j .stickyHeader-1SS0JU /* Emoji Selector Sticky Selector */, .typing-2GQL18 /* Typing Indicator */, .jumpToPresentBar-9P20AM /* Jump To Present Bar */ {
    background-color: #161616!important;
    background: #161616!important;
}

.channels-Ie2l6A /* Channels scroller for both DMs and Servers */, .private-channels /* Channels scroller container for both DMs and Servers */, .messagesWrapper-3lZDfY /* The main chat window */ {
    background-color: #212121!important;
    background: #212121!important;
}

.newMessagesBar-mujexs /* Bar that appears in the chat div when you have a new message in the channel */ {
    background-color: #D81B60!important;

}

.messagesPopoutWrap-1MQ1bW .header-ykumBX, .messagesPopoutWrap-1MQ1bW .footer-1kmXd4, .emojiPicker-3m1S-j .header-1nkwgG /* Inner Popout Selector Header and Footer */, .contentSelectedText-3wUhMi, .contentHoveredText-2D9B-x, .private-channels .channel.selected a, .private-channels .channel:hover a /* Selected & Hovered Channel */, .popout-2nUePc .item-16cXuq:hover /* Diversity Selector on Hover */, .member-3W1lQa:hover .content-OzHfo4, .member-3W1lQa.popout-open .content-OzHfo4 /* Member Selector Hover and Selected */, .userPopout-3XzG_A .footer-1fjuF6 /* User Popout Footer */, .quickMessage-2XpSaN /* Quickmessage box in the user popout */, .search-l1Wz-Q /* Searchbar for Channel Search */, .messageGroupWrapper-o-Zw7G /* Pinned Messages and mentions popout message group */, .actionButtons-1sUUug .jumpButton-3DTcS_, .action-buttons .jump-button /* Jump Button to jump to the selected message group */, .searchPopout-1vUlP3 .option-96V44q.selected-rZcOL- /* Search Selection */, .searchFilter-2ESiM3 /* Search Filter - Search */, .search-header /* Header of the search bar */, .search-result-message.hit /* The exact message that was searched for */, .emojiPicker-3m1S-j .searchBarInner-1_Tg2R /* Searchbar of Emoji Picker */{
    background-color: rgba(0,0,0,0.2)!important;
}

.channelTextArea-1LDbYG /* Main Channel Text Area - Main Chat Window */, .messagesPopoutWrap-1MQ1bW /* Inner Popout Selectors to unify colors */, .popout-2nUePc, .emojiPicker-3m1S-j /* Diversity & Emoji Selector Popout */, .quickMessage-2XpSaN /* Quickmessage box in the user popout */, .userPopout-3XzG_A .footer-1fjuF6 /* User Popout Footer */, .hasMore-3e72_v button /* Button when top of chat is reached */, .messageGroupWrapper-o-Zw7G /* Pinned Messages and mentions popout message group */, .search-result-message.hit /* The exact message that was searched for */{
    border: none!important;
}

.searchBar-2_Yu-C, .header-2o-2hj /* Search bar(s) for DM + Container in Servers for Server name */, .title-3qD0b- /* Channel Name Title */, .actionButtons-1sUUug, .action-buttons /* Action Buttons in the message Popouts and the search */, .search-result-message.hit /* The exact message that was searched for */{
    box-shadow: none!important;
}

.hasMore-3e72_v button /* Button when top of chat is reached */, .searchAnswer-3Dz2-q /* What the filter searches for */ /* What the filter searches for */{
    color: #D81B60;
}

.clickOverride-1J40_l /* makes pinned objects interactable */, .jumpToPresentBar-9P20AM button:nth-child(2) /* Second Button of the Jump To Present Bar */, .newMessagesBar-mujexs button:nth-child(2), .search-result::before, .search-result::after, .search-result-message.hit::after /* Removing the weirdest ever box shadows, all from the search results*/{
    display: none;
}

.channelTextArea-1LDbYG /* Main Channel Text Area - Main Chat Window */, .chat-3bRxxu form /* Main Form Element in the main chat window */{
    margin: 0;
    padding: 0;
}



.channelTextArea-1LDbYG /* Main Channel Text Area - Main Chat Window */, .chat-3bRxxu form .inner-zqa7da /* Inner Box Main Chat Window */{
    height: 52px;
}

.chat-3bRxxu form .inner-zqa7da .textArea-2Spzkt /* Main Textarea - Main Chat Window */{
    padding: 14px 38px 10px 10px;
}

.emojiButton-3uL3Aw /* Emoji Button */{
    margin-top: 4px;
}

.container-2Thooq /* User Container Channel Bar */ {
    height: 51px!important;
}

.typing-2GQL18 /* Typing Indicator */{
    width: 240px;
}

.typing-2GQL18 /* Typing Indicator */{
    bottom: 100%;
    right: 0;
    left: auto;
    padding-left: 20px;
    width: auto;
    padding-right: 20px;
    padding-top: 0;
    border-radius: 5px 0 0 0;
    overflow-y: visible!important;
    z-index: 2;
}

.jumpToPresentBar-9P20AM{
    width: fit-content!important;
    position: absolute!important;
    border-radius:20px!important;
    right: 10px!important;
    left: auto!important;
    top: 10px!important;
    bottom: auto;
}

.newMessagesBar-mujexs{
    width: fit-content!important;
    border-radius: 20px!important;
    top: 10px!important;
}


/* User Container Channel Bar */
/* .container-2Thooq .accountDetails-3k9g4n, .container-2Thooq .flex-1xMQg5 {
    margin-top: 20px;
} */

/* .accountDetails-3k9g4n .username, .accountDetails-3k9g4n .discriminator{
    display: inline;
}

.container-2Thooq .wrapper-2F3Zv8, .container-2Thooq .wrapper-2F3Zv8 .avatar-3JE4B3{
    width: 20px;
    height: 20px;
}

.container-2Thooq .wrapper-2F3Zv8 .status-oxiHuE{
    width: 8px!important;
    height: 8px!important;
}

.container-2Thooq .wrapper-2F3Zv8{
    margin-top: 28px;
    margin-bottom: 8px;
}

.container-2Thooq .flex-1xMQg5{
    opacity: 0;
    width: 210px;
    left: 110px;
    height: 51px;
    position: absolute;
    bottom: 0;
    margin-top: 0;
    background-color: #161616!important;
    z-index: 120;
    transition: opacity 200ms;
}

.container-2Thooq .flex-1xMQg5 div button, .container-2Thooq .flex-1xMQg5 button{
    margin-top: 5px;
    width: 60px;
    height: 40px;
    background-size: 25px 25px!important;
}

.container-2Thooq .flex-1xMQg5 button div svg{
    width: 25px!important;
    height: 25px!important;
    margin: 6.5px 0 15px 0;
}

.container-2Thooq:hover .flex-1xMQg5{
    opacity: 1;
} */

/* Channels scroller container for both DMs and Servers */
/* .channels-Ie2l6A .container-PNkimc, .private-channels {
    margin-bottom: 26px;
} */


::-webkit-scrollbar{
    display: none;
}