
:root{
    --ColTextSelection: rgba(255,255,255,0.2);    
    --INTModFont: '\A \2022  Fonts ~ Customa Devs (Base \2192  font.m.css)';
    --INTVarFont: '\A\A Font: \A \2022  --Color__TextSelection \2192  Allowed Values: Color (pref. rgba(x,x,x,0.3)) \A \2022  --Font__FontFamily \2192  Allowed Values: Installed Fonts/Webfonts\A (pref. Sans-Serif)\A \2022  --Font__Monospace__FontFamily \2192  Allowed Values: \A Installed Fonts/Webfonts (pref. Monospace)';
    --FontFamily: 'Raleway', sans-serif;
    --FontMonoFamily: 'Fira Code', 'Fira Mono', monospace;
}

/* Set all Fonts to the defined one */
*{
    font-family: var(--FontFamily)!important;
    font-variant: normal!important;
    -webkit-font-smoothing: antialiased;
}

.fileNameLink-9GuxCo /* File name for File Uploads */{
    font-size: 15px!important;
}

code /* All Code Blocks */,code * /* All Elements in a Code Block */,code li * /* All List Elements in a Code Block */, code.inline /* Inline Code Block */, .ace_editor * /* Settings Code Editor */, .message-1PNnaP textarea.textAreaEdit-bNLDk3 /* Edit Text Area */{
    font-family: var(--FontMonoFamily)!important;
}

*::selection{
    background: var(--ColTextSelection)!important;
}