@import url('https://customa.gitlab.io/Customa-Discord/Base/color.m.css');

:root{
    --INTModLightThemeSupport: '    \2022  Light Theme Support ~ Customa Devs (Base \2192  lightThemeSupport.m.css)\A'!important;
    --INTVarLightThemeSupport: '\A\A Light Theme Support - Module \A \2022  --ColFont \2192  Allowed Values: Color (pref. #4f545c) \A \2022  --ColFontBright \2192  Allowed Values: Color (pref. #eeeeee)'!important;
    
    --ColChat: #474747!important;
    --ColFont:  #474747!important;
    --ColFontBright: #474747!important;
    --ColFontPlaceholder: #474747!important;
    --ColAppBG: #EEEEEE!important;
    --ColBackground1: #EEEEEE!important;
    --ColBackground2: #E0E0E0!important;
    --ColTransparent1: rgba(0,0,0,0.03);

    --ColBTNPrimary: 224, 224, 224!important;
    --ColBTNContrastFix: black!important;
}

.container-2VW0UT{
    background-color: var(--ColBackground1)!important;
}

.divider-3gKybi /* Divider in Chat */, .autocompleteInner-zh20B_ /* Autocomplete Modal */{
    background: transparent!important;
}

.item-PXvHYJ.selected-3s45Ha /* Settings */{
    color: white!important;
}

.close-hhyjWJ, .powercord-toast .header, .powercord-toast .button, .powercord-toast .content, .fas::before, .far::before, .wrapper-1Rf91z > div > div > .listItem-2P_4kh:first-child:not(:hover) svg foreignObject a:not(.selected-wSa2KV)::after, .userSettingsAccount-2eMFVR::after{
    color: var(--ColFont)!important
}

.dividerEnabled-2TTlcf{
    border-color: var(--ColTransparent1)!important;
}

.separator-2zcjq8, .friendsColumn-eVHFqJ /* Friends Table */{
    border-color: var(--ColFontBright)!important;
}

.status-1ibiUI, .status-2kJpnA, .status-3DaTVG{
    border-color: white!important;
}

.privateChannels-1nO12o header /* Header for Private Channels */, .activity-525YDR /* User Activity */, .channel-SEolQq /* Voice Channel Name */{
    opacity: 1!important;
}

.socialLinks-3jqNFy:hover::before, .friendsAction-__WNE9{
    filter: brightness(0.8)!important;
}

.friendsRow-2yicud .friendsAction-__WNE9:not(:hover), .twitterLink-3NsWMp:before, .statusLink-gFXhrL:before, .close-3hZ5Ni, img[src="/assets/e8b66317ab0dc9ba3bf8d41a4f3ec914.png"], .powercord-pc-icon, .actions-2vadYq .iconButton-3V4WS5, .pagination-eQpqgk > div, .quickSelectArrow-1QublR, .powercord-account-list-account{
    filter: brightness(0.5)!important;
}

.friendsActionRemove-qu8nnl:hover{
    filter: brightness(1)!important;
}

.contents-18-Yxp .editIcon-13gaox{
    filter: brightness(10)!important;
}

.anchor-3Z-8Bb svg g path.fill{
    fill: var(--ColFont);
}

/* Remove Dark Mode */

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :first-child .checkboxWrapper-SkhIWG, .preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :first-child .info-3LOr12 /* Remove Checkbox and Text from white-theme button */{
    visibility: hidden;
}

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :first-child /* Light Theme Button */{
    background-color: var(--ColFalse)!important;
    pointer-events: none!important;
}

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :first-child .info-3LOr12::before /* New Info for Light Theme Button */{
    visibility: visible!important;
    content: "Disable the Light Theme Module for Dark Theme to work";
    position: absolute!important;
    left: 0;
    color: white;
}

/* Restore White Mode Button */

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > .item-26Dhrx:last-child .checkboxWrapper-SkhIWG, .preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :last-child .info-3LOr12 /* Remove Checkbox and Text from white-theme button */{
    visibility: visible!important;
}

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > .item-26Dhrx:last-child /* Light Theme Button */{
    background-color: var(--ColAccent)!important;
    pointer-events: all!important; 
}

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > .item-26Dhrx:last-child .info-3LOr12::before /* New Info for Light Theme Button */{
    visibility: hidden!important;
}

/* Upload Button */
.channelTextArea-2VhZ6z .attachButtonInner-PQjIyk svg {
  background: url('https://customa.gitlab.io/Customa-Misc/Discord/SVGs/WhiteMode/uploadWhiteMode.svg') 50% no-repeat;
}

/* Top Bar */

.wordmark-2iDDfm path, .winButton-iRh8-Z:not(:hover) svg[name='TitleBarClose'] polygon, .winButton-iRh8-Z svg[name='TitleBarMinimize'] rect{
    fill: var(--ColFont);
}

.winButton-iRh8-Z svg[name='TitleBarMaximize'] rect{
    stroke: var(--ColFont);
}

/* Custom Settings Modal Module Support */

[aria-label='USER_SETTINGS'] .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .side-8zPYf6 div.item-PXvHYJ:not(.ui-tab-bar-header):not(.selected-3s45Ha):not([style='color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);']):not([style*='font-size'])::before, #bd-settings-sidebar > span > div div::before{
    filter: invert(65%)!important;
    -webkit-filter: invert(65%)!important;
}

.dividerRed-MKoLlr span::before, .dividerRed-MKoLlr span::after /* Divider Red */{
    border: none!important;
}

/* Blockquotes */

.blockquoteDivider-2hH8H6 /* Blockquote Bar (Side) */{
  background-color: rgba(0, 0, 0, 0.2)!important;
}

.blockquoteContainer-U5TVEi blockquote /* Quoted Text */{
  background-color: rgba(0, 0, 0, 0.03)!important;
}