@import url('https://customa.gitlab.io/Customa-Discord/Base/color.m.css');

:root{
    --INTModLightThemeSupport: '    \2022  Light Theme Support ~ Customa Devs (Base \2192  lightThemeSupport.m.css)\A'!important;
    --INTVarLightThemeSupport: '\A\A Light Theme Support - Module \A \2022  --ColFont \2192  Allowed Values: Color (pref. #4f545c) \A \2022  --ColFontBright \2192  Allowed Values: Color (pref. #eeeeee)'!important;
    
    --ColChat: #72767d!important;
    --ColFont:  #72767d!important;
    --ColFontBright: #8e9297!important;
    --ColFontPlaceholder: #72767d!important;
    --ColAppBG: #EEEEEE!important;
    --ColBackground1: #EEEEEE!important;
    --ColBackground2: #E0E0E0!important;
    --ColTransparent1: rgba(0,0,0,0.03);
}

.container-2VW0UT{
    background-color: var(--ColBackground1)!important;
}

.divider-3gKybi /* Divider in Chat */, .autocompleteInner-zh20B_ /* Autocomplete Modal */{
    background: transparent!important;
}

.item-PXvHYJ.selected-3s45Ha /* Settings */, .acronym-2mOFsV /* Server Acronym if no image */{
    color: white!important;
}

.close-hhyjWJ, .powercord-toast .header, .powercord-toast .button, .powercord-toast .content, .fas::before, .far::before{
    color: var(--ColFont)!important
}

.dividerEnabled-2TTlcf{
    border-color: var(--ColTransparent1)!important;
}

.separator-2zcjq8{
    border-color: var(--ColFontBright)!important;
}

.status-1ibiUI, .status-2kJpnA, .status-3DaTVG{
    border-color: white!important;
}

.privateChannels-1nO12o header /* Header for Private Channels */, .activity-525YDR /* User Activity */, .channel-SEolQq /* Voice Channel Name */{
    opacity: 1!important;
}

.powercord-pc-icon{
    filter: brightness(0.9);
}

.socialLinks-3jqNFy:hover::before, .friendsAction-__WNE9{
    filter: brightness(0.8)!important;
}

.friendsRow-2yicud .friendsAction-__WNE9:not(.friendsActionRemove-qu8nnl:hover), .close-3hZ5Ni{
    filter: brightness(0.5)!important;
}

.twitterLink-3NsWMp:before, .statusLink-gFXhrL:before{
    filter: brightness(0.5)!important;
}

.friendsActionRemove-qu8nnl:hover{
    filter: brightness(1)!important;
}

.contents-18-Yxp .editIcon-13gaox{
    filter: brightness(10)!important;
}

.anchor-3Z-8Bb svg g path.fill{
    fill: var(--ColFont);
}

/* Remove Dark Mode */

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :last-child .checkboxWrapper-SkhIWG, .preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :last-child .info-3LOr12 /* Remove Checkbox and Text from white-theme button */{
    visibility: hidden;
}

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :last-child /* White Theme Button */{
    background-color: var(--ColFalse)!important;
    pointer-events: none!important;
}

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :last-child .info-3LOr12::before /* New Info for White Theme Button */{
    visibility: visible!important;
    content: "Disable the White Theme Module for Dark Theme to work";
    position: absolute!important;
    top: 15px;
    left: 12px;
    color: white;
}

/* Restore White Mode Button */

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > .item-26Dhrx:first-child .checkboxWrapper-SkhIWG, .preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :first-child .info-3LOr12 /* Remove Checkbox and Text from white-theme button */{
    visibility: visible!important;
}

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > .item-26Dhrx:first-child /* White Theme Button */{
    background-color: var(--ColAccent)!important;
    pointer-events: all!important; 
}

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > .item-26Dhrx:first-child .info-3LOr12::before /* New Info for White Theme Button */{
    visibility: hidden!important;
}

/* Upload Button */
.channelTextArea-1LDbYG .attachButtonInner-1iyZ9F svg {
  background: url('https://customa.gitlab.io/Customa-Misc/Discord/SVGs/WhiteMode/uploadWhiteMode.svg') 50% no-repeat;
}

/* Top Bar */

.wordmark-2iDDfm path, .winButton-iRh8-Z:not(:hover) svg[name='TitleBarClose'] polygon, .winButton-iRh8-Z svg[name='TitleBarMinimize'] rect{
    fill: var(--ColFont);
}

.winButton-iRh8-Z svg[name='TitleBarMaximize'] rect{
    stroke: var(--ColFont);
}