:root{

    --INTModRoot: '\2022  Root ~ Customa Devs (Base \2192  root.m.css)\A';

    /* EDIT STARTS HERE */

    --ColAppBG: #161616; /* Color or url('link to image')*/
    --ColBackground1: var(--ColAppBG); /* Color */
    --ColBackground2: #212121; /* Color */
    --ColAccent: #D81B60; /* Color */
    --ColAccentAlpha: rgba(216, 27, 96, 0.1); /* Color in RGBA Format, best when hex code of --ColAccent is converted to rgba and get's an opacity of 0.1 */
    --ColAnchor: #0096cf;  /* Color */
    --ColLastMessage: transparent; /* Transparent or Color - pref. RGBA color */
    --DisplayEmbedPill: none; /* Block or none */

    /* EDIT ENDS HERE */

    --INTVarBase: 'Base: \A \2022  --Color__MainBackground \2192  Allowed Values: Image/Color\A \2022  --Color__SelectionColor \2192  Allowed Values: Color (pref. rgba(x,x,x,0.3))\A \2022  --Color__AccentColor \2192  Allowed Values: Color\A \2022  --Color__SecondAccentColor \2192  Allowed Values: Color (pref. rgba(x,x,x,0.1))\A \2022  --Color__MainColor1 \2192  Allowed Values: Color\A \2022  --Color__MainColor2 \2192  Allowed Values: Color\A \2022  --Color__True \2192  Allowed Values: Color (pref. Green)\A \2022  --Color__False \2192  Allowed Values: Color (pref. Red)';
    --INTVarDisplayChannelIcon: '';
    --INTVarFont: '';
    --INTVarJumboMoji: '';
    --INTVarLoginBGChanger: '';
    --INTVarNewEditText: '';

}