:root {
    --INTModRound: '    \2022  Round ~ Customa Devs (Base \2192  round.m.css)\A'!important;
    --INTVarRound: '\A\A Round - Module\A \2022  --SizeCornerRadius \2192  Allowed Values: Size (pref. 0.75em) \A \2022  --SizeSpotifyRadius \2192  Allowed Values: Size (pref. 26px)'!important;
	--SizeCornerRadius: 0.75em;
	--SizeSpotifyRadius: 26px;
}

/* Top Left Corner */

.sidebar-2K8pFh > div > div.container-2Rl01u + div, .sidebar-2K8pFh > div > div.searchBar-6Kv8R2 + div{
	position: relative;
}

.sidebar-2K8pFh > div > div.container-2Rl01u + div::before, .sidebar-2K8pFh > div > div.searchBar-6Kv8R2 + div::before{
	content: "";
	width: calc(var(--SizeCornerRadius) * 2);
	height: var(--SizeCornerRadius);
	/* background: var(--ColBackground2); */
	z-index: 100;
	display: block;
	position: absolute!important;
	left: 0!important;
	top: 0!important;
	border-radius: var(--SizeCornerRadius) 0 0 0;
	box-shadow: calc(0px - var(--SizeCornerRadius)) 0 0 var(--ColBackground1);
}

/* Bottom Left Corner + Fixes for when calling */

.sidebar-2K8pFh .firefoxFixScrollFlex-cnI2ix .firefoxFixScrollFlex-cnI2ix::after, .container-1giJp5::after{
	content: "";
	width: calc(var(--SizeCornerRadius) * 2);
	height: var(--SizeCornerRadius);
	background: transparent;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 0 0 0 var(--SizeCornerRadius);
	box-shadow: calc(0px - var(--SizeCornerRadius)) 0 0 var(--ColBackground1);
}

.container-1giJp5{
	position: relative;
}

.container-1giJp5::before{
	content: "";
	width: 240px!important;
	height: var(--SizeCornerRadius);
	position: absolute;
	left: 0;
	top: calc(var(--SizeCornerRadius) * -1);
	background-color: var(--ColBackground2);
	z-index: 5;
}

/* Fix for Top Right + Bottom Right Corners */

.panels-j1Uci_{
	display: flex;
    flex-direction: column;
}

.listeningAlong-30wH70{
	background-color: var(--ColBackground1)!important;
}

/* Fix for Listening Along Spotify - Puts it on the last spot */

.listeningAlong-30wH70{
	order: 1!important;
}

.container-3baos1:last-child{
	order: 2!important;
}

/* Top Right Corner + Bottom Right Corner + Bottom Left Corner */

.chatContent-a9vAAp{
	background-color: var(--ColBackground1)!important;
}

.messagesWrapper-3lZDfY > .scrollerWrap-2lJEkd, .messagesWrapper-3lZDfY{
	background-color: var(--ColBackground2)!important;
	border-top-right-radius: var(--SizeCornerRadius);
	border-bottom-right-radius: var(--SizeCornerRadius);
}

.powercord-spotify::after{
	content: "";
	width: calc(var(--SizeCornerRadius) * 2);
	height: var(--SizeCornerRadius);
	background: transparent;
	display: block;
	position: absolute;
	bottom: 0;
	right: calc((var(--SizeCornerRadius) * -2));
	border-radius: 0 0 0 var(--SizeCornerRadius);
	box-shadow: calc(0px - var(--SizeCornerRadius)) 0 0 var(--ColBackground1);
	z-index: 99999!important;
}

.listeningAlong-30wH70 + .powercord-spotify::after{
	bottom: -32px;
}

.sidebar-2K8pFh {
	overflow: visible;
}

.listeningAlong-30wH70 + .powercord-spotify{
	padding-top: 8px;
}

.powercord-spotify{
	z-index: 1000!important;
}

/* Round Spotify Modal (Powercord) */

.powercord-spotify {
	border-top-right-radius: var(--SizeSpotifyRadius);
}
