:root {
  --INTModRound: "    \2022  Round ~ Customa Devs (Base \2192  round.m.css)\A"!important;
  /* stylelint-disable */
  /* Has been done since multiline variables are not according to spec but R E A D A B I L I T Y */
  --INTVarRound: "\A\A Round - Module"
    "\A \2022  --SizeCornerRadius \2192  Allowed Values: Size (pref. 0.75em)"
    "\A \2022  --SizeSpotifyRadius \2192  Allowed Values: Size (pref. 26px)"!important;
  /* stylelint-enable */
  --SizeCornerRadius: .75em;
  --SizeSpotifyRadius: 26px;
}

/* Top Left Corner */
.sidebar-2K8pFh > div > div.container-2Rl01u + div, .sidebar-2K8pFh > div > div.searchBar-6Kv8R2 + div {
  position: relative;
}

.sidebar-2K8pFh > div > div.container-2Rl01u + div::before, .sidebar-2K8pFh > div > div.searchBar-6Kv8R2 + div::before {
  content: "";
  width: calc(var(--SizeCornerRadius) * 2);
  height: var(--SizeCornerRadius);
  z-index: 100;
  display: block;
  position: absolute!important;
  left: 0!important;
  top: 0!important;
  border-radius: var(--SizeCornerRadius) 0 0 0;
  box-shadow: calc(0px - var(--SizeCornerRadius)) 0 0 var(--ColBackground1);
}

/* Fix for Top Right + Bottom Right Corners */
.panels-j1Uci_ {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: visible;
  border-top-right-radius: var(--SizeSpotifyRadius);
}

.container-3baos1:not(.powercord-spotify) {
  z-index: 0;
}

.container-3baos1:not(.powercord-spotify)::after {
  content: "";
  width: 240px;
  height: 53px;
  position: absolute;
  background-color: var(--ColBackground1);
  z-index: -1;
}

.listeningAlong-30wH70 {
  background-color: var(--ColBackground1)!important;
}

/* Fix for Listening Along Spotify - Puts it on the last spot */
.listeningAlong-30wH70 {
  order: 1!important;
}

.container-3baos1:last-child {
  order: 2!important;
}

/* Bottom Left Corner + Fixes for when calling */
.panels-j1Uci_::after {
  content: "";
  width: calc(var(--SizeCornerRadius) * 2);
  height: var(--SizeCornerRadius);
  background: transparent;
  display: block;
  position: absolute;
  z-index: 10;
  overflow: visible;
  top: calc(0px - var(--SizeCornerRadius));
  left: 0;
  border-radius: 0 0 0 var(--SizeCornerRadius);
  box-shadow: calc(0px - var(--SizeCornerRadius)) 0 0 var(--ColBackground1);
}

/* Top Right Corner + Bottom Right Corner + Bottom Left Corner */
.chatContent-a9vAAp {
  background-color: var(--ColBackground1)!important;
}

.messagesWrapper-3lZDfY > .scrollerWrap-2lJEkd, .messagesWrapper-3lZDfY {
  background-color: var(--ColBackground2)!important;
  border-top-right-radius: var(--SizeCornerRadius);
  border-bottom-right-radius: var(--SizeCornerRadius);
}

.powercord-spotify::after {
  content: "";
  width: calc(var(--SizeCornerRadius) * 2);
  height: var(--SizeCornerRadius);
  background: transparent;
  display: block;
  position: absolute;
  bottom: 0;
  right: calc((var(--SizeCornerRadius) * -2));
  border-radius: 0 0 0 var(--SizeCornerRadius);
  box-shadow: calc(0px - var(--SizeCornerRadius)) 0 0 var(--ColBackground1);
  z-index: 999!important;
}

.listeningAlong-30wH70 ~ .powercord-spotify::after {
  bottom: -32px;
}

.sidebar-2K8pFh {
  overflow: visible;
}

.listeningAlong-30wH70 + .powercord-spotify {
  padding-top: 8px;
}

/* Round Spotify Modal (Powercord) */
.powercord-spotify-seek { /* stylelint-disable-line no-descending-specificity */
  z-index: 1000!important;
}
