:root {
  --ColTextSelection: rgba(255, 255, 255, .2);
  --INTModSelection: "    \2022  Selection ~ Customa Devs (Base \2192  selection.m.css)\A"!important;
  --INTVarSelection: "\A\A Selection - Module\A \2022  --ColTextSelection \2192  Allowed Values: Color (pref. rgba(x,x,x,0.2))"!important;
}

::selection {
  background: var(--ColTextSelection)!important;
}
