[class*='userSettingsAccount']::after{
    margin-top: 2%;
    white-space: pre;
    display: block;
    background-color: var(--Color__AccentColor);
    border-radius: 8px;
    content: 'Customa - Settings\A\A Installed Modules:\A\A Base:' var(--Content__Module__Base) var(--Content__Module__Font) var(--Content__Module__Root) '\A \2022  Settings ~ Customa Devs (Base \2192  settings.m.css)' var(--Content__Module__Update) var(--Content__Module__Variables) '\A\A Canary:' var(--Content__Module__NewLogin) '\A\A Chat:' var(--Content__Module__BetterFileTypes) var(--Content__Module__ChannelDivider) var(--Content__Module__CodeBlockLanguages) var(--Content__Module__ChannelsWrapper) var(--Content__Module__DisplayChannelIcon) var(--Content__Module__NewGuilds) var(--Content__Module__NewDividerRed) var(--Content__Module__NewEditText) '\A\A Emoji:' var(--Content__Module__JumboMoji) '\A\A Misc:' var(--Content__Module__LoginBGChanger) '\A\A Sidebar:' var(--Content__Module__NewPlaying) var(--Content__Module__NewUserModal) var(--Content__Module__NewUserPopout) var(--Content__Module__SidebarMods) var(--Content__Module__StatusCircles)  '\A\A Webkit:' var(--Content__Module__PlaceholderRemover) var(--Content__Module__AdvancedScrollbar) var(--Content__Module__BaseSupportedPlugs);
    margin-bottom: 2%;
    padding: 3%;
    text-align: center;
    line-height: 1.1;
    color: white;
}