:root {
    --ColTooltip: #ffffff; /* Color */
    --ColTextTooltip: var(--ColBackground1); /* Background-Color */
    --INTModTooltip: '    \2022  Tooltip ~ Customa Devs (Base \2192  tooltip.m.css)\A'!important;
    --INTVarTooltip: '\A\A Tooltip - Module\A \2022  --ColTooltip \2192  Allowed Values: Color (pref. #xxxxxx) \2022  --ColTooltip \2192  Allowed Values: Color (pref. #xxxxxx)'!important;
}

.tooltipBlack-PPG47z /* Tooltips */, .mediaBarWrapper-3D7r67 .bubble-3qRl2J /* Media Time Bubbles */{
    background-color: var(--ColTooltip)!important;
    color: var(--ColTextTooltip)!important;
}

.tooltipBlack-PPG47z .tooltipPointer-3ZfirK{
    border-top-color: var(--ColTooltip)!important;
}
