:root {
    --ColBackgroundTooltip: #ffffff; /* Color */
    --ColTextTooltip: var(--ColBackground1); /* Background-Color */
    --INTModTooltips: '    \2022  Tooltips ~ Customa Devs (Base \2192  tooltips.m.css)\A'!important;
    --INTVarTooltips: '\A\A Tooltips - Module\A \2022  --ColBackgroundTooltip \2192  Allowed Values: Color (pref. #xxxxxx)\A \2022  --ColTextTooltip \2192  Allowed Values: Color (pref. #xxxxxx)'!important;
}

.tooltipBlack-PPG47z /* Tooltips */, .mediaBarWrapper-3D7r67 .bubble-3qRl2J /* Media Time Bubbles */{
    background-color: var(--ColBackgroundTooltip)!important;
    color: var(--ColTextTooltip)!important;
}

.tooltipBlack-PPG47z .tooltipPointer-3ZfirK{
    border-top-color: var(--ColBackgroundTooltip)!important;
}
