:root {
  --ColBackgroundTooltip: #ffffff; /* Color */
  --ColTextTooltip: var(--ColBackground1); /* Background-Color */
  --INTModTooltips: "    \2022  Tooltips ~ Customa Devs (Base \2192  tooltips.m.css)\A"!important;
  /* stylelint-disable declaration-colon-newline-after */
  /* Has been done since multiline variables are not according to spec but R E A D A B I L I T Y */
  --INTVarTooltips: "\A\A Tooltips - Module"
    "\A \2022  --ColBackgroundTooltip \2192  Allowed Values: Color (pref. #xxxxxx)"
    "\A \2022  --ColTextTooltip \2192  Allowed Values: Color (pref. #xxxxxx)"!important;
  /* stylelint-enable */
}

.tooltipPrimary-1d1ph4 /* Tooltips */, .mediaBarWrapper-3D7r67 .bubble-3qRl2J /* Media Time Bubbles */ {
  background-color: var(--ColBackgroundTooltip)!important;
  color: var(--ColTextTooltip)!important;
}

.tooltipPrimary-1d1ph4 .tooltipContent-bqVLWK .row-1c01mR * {
  color: var(--ColTextTooltip)!important;
}

.tooltipPrimary-1d1ph4 .tooltipPointer-3ZfirK {
  border-top-color: var(--ColBackgroundTooltip)!important;
}
