:root{
    --Content__Module__Update: '\A \2022  Update ~ Turtle-Theme Devs (Base \2192  update.m.css)';
}

#bd-settingspane-container .content-column::before{
    white-space: pre;
    display: block;
    background-color: var(--Color__AccentColor);
    border-radius: 8px;
    content: 'The long awaited 2018 rewrite!\A Finally got myself to rewrite the entire theme \\o/ woooo\A Last Update per module: \A \2022  Base Module \2192  Add Basic Functionality\A \2022  Updates Module \2192  Add Module\A \2022  Variables Module \2192  Add Module\A \2022  Settings Module \2192  Add Module w. Auto-Module Detection';
    margin-bottom: 2%;
    padding: 3%;
    text-align: center;
    line-height: 1.1;
    color: white;
}