:root{
    --INTModVariables: '\2022  Variables ~ Customa Devs (Base \2192  variables.m.css)\A';
}

#bd-customcss-attach-controls::after{
    white-space: pre;
    display: block;
    content: 'Variables:\A\A' var(--Content__Variables__Base) var(--Content__Variables__Font) var(--Content__Variables__DisplayChannelIcon) var(--Content__Variables__NewEditText) var(--Content__Variables__JumboMoji) var(--Content__Variables__LoginBGChanger);
    margin: 2% -0.8%;
    border-radius: 0 0 15px 15px;
    padding: 3%;
    text-align: center;
    line-height: 1.1;
    color: white;
    background-color: var(--Color__MainColor1);
}