:root {
  --INTModVariables: "    \2022  Variables ~ Customa Devs (Base \2192  variables.m.css)\A"!important;

  /* Base */
  --INTVarBase: "";
  --INTVarButtons: "";
  --INTVarColor: "";
  --INTVarFont: "";
  --INTVarLightThemeSupport: "";
  --INTVarRound: "";
  --INTVarSelection: "";
  --INTVarTooltips: "";

  /* Chat */
  --INTVarBetterFileTypes: "";
  --INTVarCustomEditIcon: "";
  --INTVarCustomEditText: "";
  --INTVarMoreCompactCozyChat: "";

  /* Emoji */
  --INTVarEmoteZoom: "";
  --INTVarJumboMoji: "";

  /* Misc */
  --INTVarCustomSettingsModal: "";
  --INTVarCustomStatusColors: "";
  --INTVarRainbow: "";

  /* Sidebar */
  --INTVarColoredChannelIcon: "";
  --INTVarStatusCircles: "";
  --INTVarStatusQuarters: "";
  --INTVarWrapperChannel: "";
  --INTVarWrapperGuild: "";
  --INTVarWrapperMember: "";

  /* Titlebar */
  --INTVarCakeOSTitlebar: "";
  --INTVarCustomWordmark: "";

  /* Webkit */
  --INTVarCustomPlaceholder: "";
}

#bd-customcss-attach-controls {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#bd-customcss-attach-controls::after, .powercord-account::after {
  white-space: pre-line;
  display: block;
  /* stylelint-disable declaration-colon-newline-after */
  /* Has been done since multiline content is not according to spec but R E A D A B I L I T Y */
  content: "Customa-Variables\A\A"
    "BASE"
    var(--INTVarBase)
    var(--INTVarButtons)
    var(--INTVarColor)
    var(--INTVarFont)
    var(--INTVarLightThemeSupport)
    var(--INTVarRound)
    var(--INTVarSelection)
    var(--INTVarTooltips) "\A\A\A"
    "CHAT"
    var(--INTVarCustomEditIcon)
    var(--INTVarCustomEditText)
    var(--INTVarMoreCompactCozyChat) "\A\A\A"
    "EMOJI"
    var(--INTVarJumboMoji) "\A\A\A"
    "MISC"
    var(--INTVarCustomSettingsModal)
    var(--INTVarCustomStatusColors)
    var(--INTVarRainbow) "\A\A\A"
    "SIDEBAR"
    var(--INTVarColoredChannelIcon)
    var(--INTVarStatusCircles)
    var(--INTVarStatusQuarters)
    var(--INTVarWrapperChannel)
    var(--INTVarWrapperGuild)
    var(--INTVarWrapperMember) "\A\A\A"
    "TITLEBAR"
    var(--INTVarCakeOSTitlebar)
    var(--INTVarCustomWordmark) "\A\A\A"
    "WEBKIT"
    var(--INTVarCustomPlaceholder);
  /* stylelint-enable */
  margin: 1.5% -2.3% 0;
  padding: 3%;
  line-height: 1.1;
  color: #ffffff;
}
