:root{
    --INTModVariables: '    \2022  Variables ~ Customa Devs (Base \2192  variables.m.css)\A'!important;

    /* Base */
    --INTVarBase: '';
    --INTVarRound: '';
    --INTVarFont: '';
    --INTVarSelection:'';
    --INTVarTooltip: '';

    /* Chat */
    --INTVarDisplayChannelIcon: '';
    --INTVarGuildsWrapper: '';
    --INTVarNewEditIcon: '';
    --INTVarNewEditText: '';
    --INTVarWhiteThemeSupport: '';
    
    /* Emoji */
    --INTVarJumboMoji: '';

    /* Misc */
    --INTVarSettingsModal: '';

    /* Sidebar */
    --INTVarSidebarMods: '';

    /* Titlebar */
    --INTVarCustomWordmark: '';
}

#bd-customcss-attach-controls /* BetterDiscord Custom CSS Editor */{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#bd-customcss-attach-controls::after{
    white-space: pre-line;
    display: block;
    content: 'Customa-Variables\A\A'
    'BASE'
    var(--INTVarBase)
    var(--INTVarRound)
    var(--INTVarFont)
    var(--INTVarSelection)
    var(--INTVarTooltip)'\A\A\A'
    'CHAT'
    var(--INTVarDisplayChannelIcon)
    var(--INTVarGuildsWrapper)
    var(--INTVarNewEditIcon)
    var(--INTVarNewEditText)
    var(--INTVarWhiteThemeSupport)'\A\A\A'
    'EMOJI'
    var(--INTVarJumboMoji)'\A\A\A'
    'MISC'
    var(--INTVarSettingsModal)'\A\A\A'
    'SIDEBAR'
    var(--INTVarSidebarMods)'\A\A\A'
    'TITLEBAR'
    var(--INTVarCustomWordmark);
    margin: 1.5% -0.8%;
    border-radius: 0 0 15px 15px;
    padding: 3%;
    text-align: center;
    line-height: 1.1;
    color: white;
    background-color: var(--ColBackground1);
}