:root {
  --ScaleEmojiHovered: 5;
  --TransitionDuration: 200ms;
  --TransitionDelay: 2000ms;
  --INTModEmoteZoom: "    \2022  Emote Zoom ~ Customa Devs (Emoji \2192  emoteZoom.m.css)\A"!important;
  /* stylelint-disable declaration-colon-newline-after */
  /* Has been done since multiline variables are not according to spec but R E A D A B I L I T Y */
  --INTVarEmoteZoom: "\A\A Emote Zoom - Module"
    "\A \2022  --ScaleEmojiHovered \2192  Allowed Values: Int (pref. 5)"
    "\A \2022  --TransitionDuration \2192  Allowed Values: Time (pref. 200ms)"
    "\A \2022  --TransitionDelay \2192  Allowed Values: Time (pref. 2000ms)"!important;
  /* stylelint-enable */
}

.emoji {
  transition: all var(--TransitionDuration) var(--TransitionDelay) ease-in-out;
  cursor: zoom-in;
  z-index: 2;
}

.emoji:hover {
  transform: scale(var(--ScaleEmojiHovered));
  z-index: 99;
}

.zalgo-jN1Ica.compact-T3H92H .contents-2mQqc9 {
  overflow: visible;
}
